.o-section{
  position: relative
}

.o-section__centered{
  max-width: 1040px; //todo:  c- footer // pull to global
  margin: auto;
}


.o-section__content{
  background: map-get($global-colors, white);
  position: relative;
  z-index: 1;
}


// Gloabl font size
.o-layout__item{
  font-size: $body-text-font-size;
  line-height: $body-text-line-height;
}
