.o-wrapper{
  //border: 1px solid green;
  max-width: $global-width;
  padding-left: $global-padding-left;
  padding-right: $global-padding-right;
  @include mq( $from : footer){
    padding-left: 0;
    padding-right: 0;
  }
}