<div class="[ o-wrapper o-section o-section--centered ] 
[ u-padding-vertical-normal@xs ] [ u-padding-vertical-xlarge@md ]">
<div class="gf_browser_chrome gform_wrapper c-supplier-form_wrapper" id="gform_wrapper_4">
   <form method="post" enctype="multipart/form-data" id="gform_4" class="c-supplier-form" action="/suppliers/">
      <div class="gform_heading">
         <h3 class="gform_title">Supplier registration</h3>
         <span class="gform_description"></span>
      </div>
      <div class="gform_body">
         <ul id="gform_fields_4" class="gform_fields top_label form_sublabel_below description_below">
            <li id="field_4_1" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_1">Supplier Name<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_text"><input name="input_1" id="input_4_1" type="text" value="" class="medium" maxlength="100" aria-required="true" aria-invalid="false"></div>
            </li>
            <li id="field_4_27" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label gfield_label_before_complex" for="input_4_27_1">Supplier Registered Address<span class="gfield_required">*</span></label>    
               <div class="ginput_complex ginput_container has_street ginput_container_address gfield_trigger_change" id="input_4_27">
                  <span class="ginput_full address_line_1" id="input_4_27_1_container">
                  <input type="text" name="input_27.1" id="input_4_27_1" value="">
                  <label for="input_4_27_1" id="input_4_27_1_label">Street Address</label>
                  </span><input type="hidden" class="gform_hidden" name="input_27.4" id="input_4_27_4" value=""><input type="hidden" class="gform_hidden" name="input_27.6" id="input_4_27_6" value="Australia">
                  <div class="gf_clear gf_clear_complex"></div>
               </div>
            </li>
            <li id="field_4_3" class="gfield o-layout__item u-1/2@md field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label"></label>
               <div class="ginput_container ginput_container_radio">
                  <ul class="gfield_radio" id="input_4_3">
                     <li class="gchoice_4_3_0"><input name="input_3" type="radio" value="ABN" checked="checked" id="choice_4_3_0"><label for="choice_4_3_0" id="label_4_3_0">ABN</label></li>
                     <li class="gchoice_4_3_1"><input name="input_3" type="radio" value="ACN" id="choice_4_3_1"><label for="choice_4_3_1" id="label_4_3_1">ACN</label></li>
                  </ul>
               </div>
            </li>
            <li id="field_4_5" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_5">ABN / ACN<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_number"><input name="input_5" id="input_4_5" type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
            </li>
            <li id="field_4_6" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_6">Supplier Contact Name<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_text"><input name="input_6" id="input_4_6" type="text" value="" class="medium" maxlength="100" aria-required="true" aria-invalid="false"></div>
            </li>
            <li id="field_4_7" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_7">Supplier Email Address<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_email">
                  <input name="input_7" id="input_4_7" type="text" value="" class="medium" aria-required="true" aria-invalid="false">
               </div>
            </li>
            <li id="field_4_8" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_8">Supplier Contact Phone Number<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_phone"><input name="input_8" id="input_4_8" type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
            </li>
            <li id="field_4_9" class="gfield o-layout__item u-1/2@md field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_9">Ultimate Australian Holding Company</label>
               <div class="ginput_container ginput_container_text"><input name="input_9" id="input_4_9" type="text" value="" class="medium" aria-invalid="false"></div>
            </li>
            <li id="field_4_10" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_10">Executive Negotiator<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_text"><input name="input_10" id="input_4_10" type="text" value="" class="medium" maxlength="255" aria-required="true" aria-invalid="false"></div>
            </li>
            <li id="field_4_11" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_11">Supplier Structure<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_select">
                  <select name="input_11" id="input_4_11" class="medium gfield_select" aria-required="true" aria-invalid="false">
                     <option value="" selected="selected" class="gf_placeholder">Select an option</option>
                     <option value="Registered Company">Registered Company</option>
                     <option value="Individual">Individual</option>
                     <option value="Others, including for example, Partnerships">Others, including for example, Partnerships</option>
                  </select>
               </div>
            </li>
            <li id="field_4_12" class="gfield o-layout__item u-1/2@md gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label">Have you previously signed up to the NSW Container Deposit Scheme as a Supplier?<span class="gfield_required">*</span></label>
               <div class="ginput_container ginput_container_radio">
                  <ul class="gfield_radio" id="input_4_12">
                     <li class="gchoice_4_12_0"><input name="input_12" type="radio" value="Yes" id="choice_4_12_0"><label for="choice_4_12_0" id="label_4_12_0">Yes</label></li>
                     <li class="gchoice_4_12_1"><input name="input_12" type="radio" value="No" checked="checked" id="choice_4_12_1"><label for="choice_4_12_1" id="label_4_12_1">No</label></li>
                  </ul>
               </div>
               <div class="gfield_description">If you have previously signed up to the NSW Container Deposit Scheme you will not be required to upload photo ID provided your nominated signatories remain the same</div>
            </li>
            <li id="field_4_28" class="gfield o-layout__item u-1/2@md field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_28">Supply Arrangement Number</label>
               <div class="ginput_container ginput_container_text"><input name="input_28" id="input_4_28" type="text" value="" class="medium" aria-invalid="false"></div>
               <div class="gfield_description">If you have previously signed up to the NSW Container Deposit Scheme as a Supplier, please provide your Supply Arrangement Number</div>
            </li>
            <li id="field_4_14" class="gfield o-layout__item u-1/2@md gfield_html gfield_html_formatted field_sublabel_below field_description_below gfield_visibility_visible">
               <ul class="c-group-list">
                  <li>
                     <h3>Signatory 1</h3>
                  </li>
                  <li id="field_4_15" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_15">Signatory Name<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_text"><input name="input_15" id="input_4_15" type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
                  </li>
                  <li id="field_4_16" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_16">Signatory Title<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_text"><input name="input_16" id="input_4_16" type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
                  </li>
                  <li id="field_4_17" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_17">Signatory Email<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_email">
                        <input name="input_17" id="input_4_17" type="text" value="" class="medium" aria-required="true" aria-invalid="false">
                     </div>
                  </li>
                  <li id="field_4_19" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_19">File upload (for Photo ID)<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_fileupload">
                        <input type="hidden" name="MAX_FILE_SIZE" value="5242880"><input name="input_19" id="input_4_19" type="file" class="medium" aria-describedby="extensions_message_4_19" onchange="javascript:gformValidateFileSize( this, 5242880 );"><span id="extensions_message_4_19" class="screen-reader-text">Accepted file types: pdf, jpg, jpeg, gif, png, bmp.</span>
                        <div class="validation_message"></div>
                     </div>
                     <div class="gfield_description">if
                        you have not previously signed up to the NSW Container Deposit Scheme; or
                        you have previously signed up to the NSW Container Deposit Scheme but your nominated signatories have changed
                        please upload photo ID for the first signatory as outlined in the FAQ pdf, jpg, jpeg, gif, png or bmp files of less than 5MB in size
                     </div>
                  </li>
                  <li id="field_4_18" class="gfield gfield_html gfield_html_formatted field_sublabel_below field_description_below gfield_visibility_visible"></li>
               </ul>
            </li>
            <li id="field_4_20" class="gfield o-layout__item u-1/2@md gfield_html gfield_html_formatted gfield_no_follows_desc field_sublabel_below field_description_below gfield_visibility_visible">
               <ul class="c-group-list">
                  <li>
                     <h3>Signatory 2</h3>
                  </li>
                  <li id="field_4_21" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_21">Signatory Name<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_text"><input name="input_21" id="input_4_21" type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
                  </li>
                  <li id="field_4_22" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_22">Signatory Title<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_text"><input name="input_22" id="input_4_22" type="text" value="" class="medium" aria-required="true" aria-invalid="false"></div>
                  </li>
                  <li id="field_4_23" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_23">Signatory Email<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_email">
                        <input name="input_23" id="input_4_23" type="text" value="" class="medium" aria-required="true" aria-invalid="false">
                     </div>
                     <div class="gfield_description">If a registered company with more than one director, please enter the name of a second director or company secretary who will sign documents on behalf of the company. If a registered company with a sole director/secretary, please enter the name of the person nominated to witness the signature of the first signatory. If an individual, please enter the name of the person nominated to witness the signature of the first signatory</div>
                  </li>
                  <li id="field_4_24" class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible">
                     <label class="gfield_label" for="input_4_24">File upload (for Photo ID)<span class="gfield_required">*</span></label>
                     <div class="ginput_container ginput_container_fileupload">
                        <input type="hidden" name="MAX_FILE_SIZE" value="5242880"><input name="input_24" id="input_4_24" type="file" class="medium" aria-describedby="extensions_message_4_24" onchange="javascript:gformValidateFileSize( this, 5242880 );"><span id="extensions_message_4_24" class="screen-reader-text">Accepted file types: pdf, jpg, jpeg, gif, png, bmp.</span>
                        <div class="validation_message"></div>
                     </div>
                     <div class="gfield_description">if
                        you have not previously signed up to the NSW Container Deposit Scheme; or
                        you have previously signed up to the NSW Container Deposit Scheme but your nominated signatories have changed
                        please upload photo ID for the first signatory as outlined in the FAQ pdf, jpg, jpeg, gif, png or bmp files of less than 5MB in size
                     </div>
                  </li>
                  <li id="field_4_25" class="gfield gfield_html gfield_html_formatted field_sublabel_below field_description_below gfield_visibility_visible"></li>
               </ul>
            </li>
            <li id="field_4_26" class="gfield o-layout__item u-1/2@md field_sublabel_below field_description_below gfield_visibility_visible">
               <label class="gfield_label" for="input_4_26">Your message</label>
               <div class="ginput_container ginput_container_textarea"><textarea name="input_26" id="input_4_26" class="textarea medium" aria-invalid="false" rows="10" cols="50"></textarea></div>
            </li>
         </ul>
      </div>
      <div class="gform_footer top_label"> <input type="submit" id="gform_submit_button_4" class="gform_button button" value="Submit" onclick="if(window[&quot;gf_submitting_4&quot;]){return false;}  window[&quot;gf_submitting_4&quot;]=true;  " onkeypress="if( event.keyCode == 13 ){ if(window[&quot;gf_submitting_4&quot;]){return false;} window[&quot;gf_submitting_4&quot;]=true;  jQuery(&quot;#gform_4&quot;).trigger(&quot;submit&quot;,[true]); }"> 
         <input type="hidden" class="gform_hidden" name="is_submit_4" value="1">
         <input type="hidden" class="gform_hidden" name="gform_submit" value="4">
         <input type="hidden" class="gform_hidden" name="gform_unique_id" value="">
         <input type="hidden" class="gform_hidden" name="state_4" value="WyJbXSIsIjk2Y2NmNDMwZmJmZDQ2ZmExYTRjM2ZhODE1ZTMzYzhiIl0=">
         <input type="hidden" class="gform_hidden" name="gform_target_page_number_4" id="gform_target_page_number_4" value="0">
         <input type="hidden" class="gform_hidden" name="gform_source_page_number_4" id="gform_source_page_number_4" value="1">
         <input type="hidden" name="gform_field_values" value="">
      </div>
   </form>
</div>
</div>