<section class="c-content-block-wrapper">
    <div class="[ o-wrapper o-section o-section--centered ] 
    [ u-padding-vertical-normal@xs ] [ u-padding-vertical-xlarge@md ]">
        
    </div>
</section>