<footer>
    <div class="u-bg-dark-white">
        <div class="o-wrapper">
        {% include '@root/_sections/footer-contact.twig' %}
        </div>
    </div>
    <div class="c-footer-social-links__mobile">
        {% include '@root/_sections/footer-mobile-social-link.twig' %}
    </div>
    <div class="u-bg-light-black">
        <div class="o-wrapper">
        {% include '@root/_sections/footer-links.twig' with {'menu': footermenu.get_items} %}
        </div>
    </div>
</footer> 
