<section class="o-section o-footer-social-links-section__mobile">
    <div class="o-layout o-layout--flush">
        <div class="o-layout__item">
        <h2 class="u-hidden-visually">Mobile social links</h2>
            <ul class="o-list-bare c-footer-social-links-mobile__items u-margin-bottom-none@footer">
                <li class="o-list-bare__item c-footer-social-links-mobile__item">
                    <a class="c-footer-social-links-mobile__link" href="{{ footersocial.facebook_link }}" target="_blank" title="Image link to ACT-CDS on Facebook">
                        <span class="c-button__icon-wrapper">
                            <img src="{{ site.theme.link }}/static/images/icons/icon-fb.png" alt="Link to ACT-CDS on Facebook ">
                        </span>
                    </a>
                </li>
                <li class="o-list-bare__item c-footer-social-links-mobile__item">
                    <a class="c-footer-social-links-mobile__link" href="{{ footersocial.email_link }}" title="Image link to contact ACT-CDS">
                        <span class="c-button__icon-wrapper">
                            <img src="{{ site.theme.link }}/static/images/icons/icon-email.png" alt="Contact ACT-CDS">
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>