<!-- @footer links -->
<section class="o-section">
  <div class="o-list-bare c-footer">
      <div class="o-layout o-layout--flush">
        <div class="o-layout__item">
            <nav class="c-footer__row c-footer-links">
              <h2 class="u-hidden-visually">Footer Navigation Links</h2>
              <ul class="o-list-bare u-margin-bottom-none@footer">
                {% for menuitem in menu %}
                  <li class="o-list-bare__item c-footer-links__item">
                    <a class="c-footer-links__link" href="{{menuitem.link}}">{{ menuitem.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </nav>
            <div class="c-footer__row c-footer-bottom">
              <!-- Footer logo -->
              <div class="c-footer-logo-section">
                <a href="#" class="c-footer-logo" aria-label="ACT Government and ACT-CDS logo lockup" title="ACT Government and ACT-CDS logo lockup">
                  <img src="{{ site.theme.link }}/static/images/footer-logo.svg" alt="ACT Government and ACT-CDS logo lockup">
                </a>
              </div>
              <!-- General Information -->
              <div class="c-footer-bottom-info">
                <div class="c-footer-bottom-info__inner">
                  <span class="c-footer-bottom-info__item">Po Box 3414 Rhodes NSW 2138</span>
                  <span class="c-footer-bottom-info__item">ABN: 12 620 512 469</span>
                  <span class="c-footer-bottom-info__item"><a href="{{ site.url }}/privacy/">Privacy</a></span>
                  <span class="c-footer-bottom-info__item"><a href="{{ site.url }}/terms-conditions/">T&C's</a></span>
                 </div>
              </div>
              <!-- Footer social link on desktop -->
              <nav class="c-footer-social-links-desktop">
                <ul class="o-list-bare c-footer-social-links-desktop__items u-margin-bottom-none@md">
                    <li class="o-list-bare__item c-footer-social-links-desktop__item">
                      <a class="c-button--social-links c-footer-social-links-desktop__link" href="{{ footersocial.facebook_link }}" target="_blank" title="Image link to ACT-CDS on Facebook">
                        <span class="c-button__icon-wrapper">
                          <img src="{{ site.theme.link }}/static/images/icons/icon-fb.png" alt="Image link to ACT-CDS on Facebook">
                        </span>
                      </a>
                    </li>
                    <li class="o-list-bare__item c-footer-social-links-desktop__item">
                      <a class="c-button--social-links c-footer-social-links-desktop__link" href="{{ footersocial.email_link }}" title="Image link to contact ACT-CDS">
                        <span class="c-button__icon-wrapper">
                          <img src="{{ site.theme.link }}/static/images/icons/icon-email.png" alt="Image link to contact ACT-CDS">
                        </span>
                      </a>
                    </li>
                </ul>
              </nav>
            </div>
            <div class="c-scroll-to-top">
              <img src="{{ site.theme.link }}/static/images/icons/icon-arrow.png" alt="Click this arrow to scroll to top of the page">
            </div>
        </div>
      </div>
  </div>
</section>
<!-- //  @footer links -->
