<!-- @footer-subscription-form-->
<section class="o-section o-footer-contact-links-section">
  <div class="o-layout o-layout--flush">
    <div class="o-layout__item">
      <h2 class="u-hidden-visually">Contact ACT-CDS</h2>
        <ul class="o-list-bare u-margin-bottom-none u-padding-left-none@md">
          <li class="o-list-bare__item c-footer-contact-links__item">
            <p class="c-footer-contact-links__copy">
              {{ footercontact.general_phone_title }}
            </p>
            <a class="c-footer-contact-links__link" href="tel:+{{ footercontact.general_phone_text | replace({' ': ''})}}">
              {{ footercontact.general_phone_text }}
            </a>
          </li>
          <li class="o-list-bare__item c-footer-contact-links__item">
            <p class="c-footer-contact-links__copy">
              {{ footercontact.supplier_phone_title }}
            </p>
            <a class="c-footer-contact-links__link" href="tel:+{{ footercontact.supplier_phone_text | replace({' ': ''})}}">
              {{ footercontact.supplier_phone_text }}
            </a>
          </li>
        </ul>
    </div>
  </div>
</section>
<!-- @footer-subscription-form-->