<section>
    <div class="[ o-wrapper o-section o-section--centered ] 
    [ u-padding-top@md ] [ u-padding-vertical-large@lg ] 
    [ u-padding-vertical-large@navfull ]">
        <div class="o-layout o-layout--flush" >
            <div class="o-layout__item">
                <div class="u-margin-vertical-large">
                    <h2>This is a H2 heading</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam.</p>
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <h3>This is a H3 heading</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam.</p>
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <h4>This is a H4 heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam.</p>
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    This is Body text.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis auctor ligula quis magna blandit, non molestie quam.
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <a href="#">Body hyperlink text</a> <br />
                    <a class="c-external-link" href="https://www.google.com.au/" target="_blank">External link</a><br />
                    <a class="c-button c-button--secondary-button c-external-link" href="http://www.bbc.co.uk" target="_blank" rel="noopener">button test offsite</a>
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <p>Primary Button</p>
                    {% include '@root/_includes/components/buttons/primary-button.twig' %}
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <p>Secondary Button</p>
                    {% include '@root/_includes/components/buttons/secondary-button.twig' %}
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <p>Link With Primary Button Look</p>
                    {% include '@root/_includes/components/buttons/link-with-primary-button.twig' %}
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <p>Link With Secondary Button Look</p>
                    {% include '@root/_includes/components/buttons/link-with-secondary-button.twig' %}
                </div>
                <hr>
                <div class="u-margin-vertical-large">
                    <p>Hyphen List</p>
                    {% include '@root/_includes/components/common/hyphen-list.twig' %}
                    <a class="c-button c-button--secondary-button c-external-link" href="http://www.tcnsw.com.au/" target="_blank" rel="noopener">Register your interest to be a Return Point Partner</a>
                </div>
                <hr>
                {# Normal Accordion, use for FAQs #}
                {# <div class="u-margin-vertical-large">
                    <p>Accordion</p>
                    {% include '@root/_includes/components/common/accordion.twig' %}
                </div>
                <hr> #}

                {# Custom Accordion, use for download / how to return and suppliers page #}
                <div class="u-margin-vertical-large">
                    <p>Custom Accordion</p>
                    {% include '@root/_includes/components/common/custom-accordion.twig' %}
                </div>
                <hr>
            </div>
        </div>
    </div>
</section>
