
<header>
<div class="c-header-wrapper">
  <div class="o-wrapper o-section">
    <a href="#main-content" class="c-button c-button--skiplink" data-localscroll="#main-content">Skip to main content</a>
    <div class="o-layout o-layout--flush o-layout--top">
      <div class="o-layout__item [ u-5/7@xs u-2/7@navfull ]">
        <a href="{{ site.link }}" class="c-header-logo" aria-label="ACT Government and ACT-CDS logo lockup" title="ACT Government and ACT-CDS logo lockup">
          ACT Government and ACT-CDS logo lockup
        </a>
      </div>
      {# Site Navigation - desktop #}
      <div class="o-layout__item [ u-5/7@navfull ] c-main-nav-outer-wrapper c-main-nav-desktop">
         {% include '@root/_includes/components/desktop-main-nav.twig' with {'menu': menu.get_items} %}
      </div>
      <div class="o-layout__item [ u-2/7@xs ] c-header-mobile-buttons">
        <div class="c-header-mobile-buttons__wrapper">
          {# {% include '@root/_includes/components/hamburger.twig' %}  #}
          <button class="hamburger hamburger--squeeze 
              c-button c-button--hamburger 
              js-mobile-nav-trigger" type="button"
              aria-label="Open Mobile Menu" aria-expanded="false" data-a11y-dialog-hide="mobile-nav">
              <span class="hamburger-box c-button__inner">
                <span class="hamburger-inner"></span>
              </span>
          </button>
        </div>
      </div>
      {# {% include '@root/_sections/search/site-search.twig' %} #}
    </div>
  </div><!--// o-wrapper-->
</div>
</header>