<section class="c-info-block__outer-wrap
    [ o-wrapper o-section o-section--centered ]">
    <div class="c-info-block__wrap">
        <div class="c-info-block__items">
            {# {% include '@root/_includes/components/common/info-block-item.twig' %} #}
            {% for key, items in info_block %}
                <div class="c-info-block__item">
                    <div class="c-info-block__title">
                        <h3>{{ items.title }}</h3>
                    </div>
                    <div class="c-info-block__copy">
                        <p>{{ items.content }}</p>
                    </div>
                    <div class="c-info-block__button">
                        <a href="{{ items.link.url }}" class="c-button c-button--secondary-button">{{ items.link.title }}</a>
                    </div>
                </div>
            {% endfor %}
            {# <div class="c-info-block__item">
                <div class="c-info-block__title">
                    <h3>Where to return your containers</h3>
                </div>
                <div class="c-info-block__copy">
                    <p>We’ve got convenient and accessible return points across the ACT and are planning on 
                    opening more soon. By July 2019 there will be 18 return points in operation.</p>
                </div>
                <div class="c-info-block__button">
                    <a href="" class="c-button c-button--secondary-button">Find a return point</a>
                </div>
            </div>
            <div class="c-info-block__item">
                <div class="c-info-block__title">
                    <h3>Register for electronic refunds</h3>
                </div>
                <div class="c-info-block__copy">
                    <p>There are three ways you can get a refund: cash, donate to charity or receive an electronic refund. 
                    In most cases you’ll need to create a Return-It account to receive your refund.</p>
                </div>
                <div class="c-info-block__button">
                    <a href="" class="c-button c-button--secondary-button">Create an account</a>
                </div>
            </div>
            <div class="c-info-block__item">
                <div class="c-info-block__title">
                    <h3>Fundraising</h3>
                </div>
                <div class="c-info-block__copy">
                    <p>Community groups and charities can all get involved and earn some extra cash with ACT CDS.</p>
                </div>
                <div class="c-info-block__button">
                    <a href="" class="c-button c-button--secondary-button">Learn more</a>
                </div>
            </div> #}
        </div>
    </div>
</section>