<div id="mobile-nav" class="c-dialog c-dailog--menu-mobile">
  <div class="c-dialog__overlay" tabindex="-1" data-a11y-dialog-hide=""></div>
  <div class="c-dialog__content" role="dialog">
    <div class="o-wrapper">
      <div class="c-dailog_logo u-5/7@md">
        <a href="{{ site.link }}" class="c-header-logo" aria-label="ACT Government and ACT-CDS logo lockup" title="ACT Government and ACT-CDS logo lockup">
          ACT Government and ACT-CDS logo lockup
        </a>
      </div>
      <div class="c-dailog__close">
        <button class="hamburger hamburger--squeeze c-button c-button--hamburger" 
          type="button" aria-label="Close Mobile Menu" 
          aria-expanded="false" data-a11y-dialog-hide="data-a11y-dialog-hide">
          <span class="hamburger-box c-button__inner">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>

      <div class="c-dialog__content-wrapper">
        {% include '@root/_includes/components/mobile-main-nav.twig' with {'menu': menu.get_items} %}
        {# {% include '@root/_sections/footer-contact.twig' %} #}
      </div>
    </div>
  </div>
</div>