<div class="c-two-columns-wrapper [ o-wrapper o-section o-section--centered ] 
    [ u-padding-vertical-normal@xs ] [ u-padding-vertical-large@md ]">
    <div class="o-layout o-layout--flush">
        <div class="o-layout__item [ u-1/2@md ]">
            <div class="c-two-columns__left">
                <div class="c-two-columns__image">
                    <img src="{{ site.theme.link }}/static/images/receiving-funds.png" alt="">
                </div>
            </div>
        </div>
        <div class="o-layout__item [ u-1/2@md ]">
            <div class="c-two-columns__right">
                <div class="c-two-columns__copy">
                    <h2>Receiving refunds</h2>
                    <p>Our express return points are located at charity stores. You can 
                    donate directly to that charity or choose an electronic refund.</p>
                    <p>If you return at a bulk depot you’ll have the option to choose a cash 
                    refund, electronic refund or donate to an associated charity.</p>
                    <p>For all electronic refunds, you will need to create a Return-It 
                    account and link a bank account. You don’t need to create a 
                    Return-It account for cash refunds or to make on-the-spot charity donations.</p>
                    <a href="#" class="c-button c-button--secondary-button">Create a Return-It Account</a>
                    <span class="c-two-columns__copy-image">
                        <img src="{{ site.theme.link }}/static/images/return-it-logo.png" alt="Return it">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>