<div class="c-two-columns-wrapper [ o-wrapper o-section o-section--centered ] 
    [ u-padding-top-normal@xs ] [ u-padding-top-large@md ] [ u-padding-bottom-small@xs ]">
    {# Item 1 #}
    {% for key, items in two_columns_content_block %}
        <div class="o-layout o-layout--flush [ u-margin-bottom-normal@xs ] [ u-margin-bottom-large@md ]">
            <div class="o-layout__item [ u-1/2@md ]">
                <div class="c-two-columns__left">
                    <div class="c-two-columns__image">
                        {% set image_id = function('attachment_url_to_postid', items.left_image) %}
                        {% set image_alt = function('get_post_meta', image_id, '_wp_attachment_image_alt', true) %}
                        <img src="{{ items.left_image }}" alt="{{ image_alt }}" title="{{ image_alt }}">
                    </div>
                </div>
            </div>
            <div class="o-layout__item [ u-1/2@md ]">
                <div class="c-two-columns__right">
                    <div class="c-two-columns__copy">
                        {{ items.right_content }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {# Item 2 #}
     {# <div class="o-layout o-layout--flush [ u-margin-bottom-normal@xs ] [ u-margin-bottom-large@md ]">
        <div class="o-layout__item [ u-1/2@md ]">
            <div class="c-two-columns__left">
                <div class="c-two-columns__image">
                    <img src="{{ site.theme.link }}/static/images/receiving-funds.png" alt="">
                </div>
            </div>
        </div>
        <div class="o-layout__item [ u-1/2@md ]">
            <div class="c-two-columns__right">
                <div class="c-two-columns__copy">
                    <h2>Receiving refunds</h2>
                    <p>Our express return points are located at charity stores. You can 
                    donate directly to that charity or choose an electronic refund.</p>
                    <p>If you return at a bulk depot you’ll have the option to choose a cash 
                    refund, electronic refund or donate to an associated charity.</p>
                    <p>For all electronic refunds, you will need to create a Return-It 
                    account and link a bank account. You don’t need to create a 
                    Return-It account for cash refunds or to make on-the-spot charity donations.</p>
                    <a href="#" class="c-button c-button--secondary-button">Create an account</a>
                </div>
            </div>
        </div>
    </div> #}
</div>