<svg width="23px" height="23px" viewBox="0 0 19 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon of email</title>
    <defs>
        <polygon id="path-1" points="0 0 19 0 19 13 0 13"></polygon>
    </defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon-email" transform="translate(-313.000000, -3472.000000)">
            <g transform="translate(0.000000, 2612.000000)">
                <g transform="translate(0.000000, 336.000000)">
                    <g transform="translate(0.000000, 292.000000)">
                        <g transform="translate(194.000000, 214.000000)">
                            <g transform="translate(104.000000, 0.000000)">
                                <g transform="translate(15.000000, 18.000000)">
                                    <mask id="mask-2" fill="white">
                                        <use xlink:href="#path-1"></use>
                                    </mask>
                                    <g id="Clip-2"></g>
                                    <path d="M9.8258913,6.42373333 C9.64580435,6.57323333 9.35295652,6.57236667 9.1741087,6.42373333 L2.08545652,0.536466667 C1.72858696,0.240066667 1.80665217,0 2.26678261,0 L16.7332174,0 C17.1900435,0 17.2734783,0.2379 16.9145435,0.536466667 L9.8258913,6.42373333 Z M8.85441304,8.36896667 C9.21086957,8.66536667 9.78954348,8.66493333 10.145587,8.36896667 L18.354413,1.5509 C18.7108696,1.25493333 19,1.4001 19,1.88153333 L19,12.1329 C19,12.6117333 18.629087,13 18.1714348,13 L0.828565217,13 C0.370913043,13 0,12.6147667 0,12.1329 L0,1.88153333 C0,1.40313333 0.289543478,1.25536667 0.645586957,1.5509 L8.85441304,8.36896667 Z" id="Fill-1" fill="#ffffff" mask="url(#mask-2)"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>