<svg width="20px" height="27px" viewBox="0 0 9 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Icon of Facebook</title>
    <defs></defs>
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="icon-fb" transform="translate(-214.000000, -3469.000000)" fill="#ffffff">
            <g transform="translate(0.000000, 2612.000000)">
                <g transform="translate(0.000000, 336.000000)">
                    <g transform="translate(0.000000, 292.000000)">
                        <g transform="translate(194.000000, 214.000000)">
                            <g>
                                <path d="M25.9851462,34.5900002 L25.9851462,24.7938531 L28.647934,24.7938531 L29.0008109,21.4180466 L25.9851462,21.4180466 L25.9896703,19.728423 C25.9896703,18.8479606 26.0720459,18.3761888 27.3172941,18.3761888 L28.9819606,18.3761888 L28.9819606,15 L26.3187958,15 C23.1199066,15 21.9939806,16.6376294 21.9939806,19.391607 L21.9939806,21.4184289 L20,21.4184289 L20,24.7942355 L21.9939806,24.7942355 L21.9939806,34.5900002 L25.9851462,34.5900002 Z"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>