
.c-header-mobile-buttons{
  text-align: right;
  // display: none;
  @include mq( $from : navfull ){
    position: absolute !important;
    width: 30px !important;
    height: 30px !important;
    right: 20px !important;
    z-index: 11;
    left: initial !important;
    top: 80px;
    // display: block;
  }
}

.c-header-mobile-buttons__btn{
  vertical-align: top;
  display: inline-block;
}
.c-button--search{
  display: none;
  @include mq( $from : navfull ){
    display: inline-block;
  }
}