.breadcrumb{
    height: 60px;
    background-color: map-get($global-colors, light-black );
    color: map-get($global-colors, white );
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
    line-height: 60px;
}
.o-breadcrumb-links__item{
    display: inline-block;
    position: relative;
    font-size: 1.6rem;

    line-height: 15px;
    &:hover, &:focus{
        a,
        &:before{
            transition: $global-transition;
            color: map-get($global-colors, lime-green );
        }
    }
    a{
        color: map-get($global-colors, white );
        transition: $global-transition;
        padding-left: 15px;
    }
    &:before{
        content: "\f104";
        @include arrowIcon;
        color: map-get($global-colors, white );
        font-size: 18px;
        left: 0;
    }
    ul{
        margin:0;
        li{
            font-weight: $font-weight-regular;
        }
    }
}