// Global diglog style
.c-dialog{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: block;
  opacity: 0;

  &.is-open{
    z-index: 20;
    opacity: 1;
  }
}
#site-search{
  &.c-dialog{
    height: initial;
  }
}
.c-dialog__overlay{

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.c-dialog__content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 22px;
}
.c-dailog__close{
  text-align: right;
  height: 0;

  .c-button{
    position: relative;
    top: -89px;
  } 
}

// adjust logo position on responsive
.c-dailog_logo{
  @include mq($from : 900px){
    margin-left: -0.1%;
  }
  @include mq($from : 910px){
    margin-left: -0.6%;
  }
  @include mq($from : 920px){
    margin-left: -0.9%;
  }
}
.is-open{
  .c-dailog_logo{
    display: inline-block;
    width: auto;
    margin-top: 10px;
  }
  .c-dailog__close{
    height: initial;
    position: absolute;
    right: $global-spacing;
    top: $global-spacing;
    z-index: 21;
    @include mq($from : md){
      right: 5%;
    }
    .c-button{
      position: relative;
      top: 15px;
      margin-top: 0;
      right: 0;
    } 
  }
}


// Site search bar
.c-dailog--searchBar{

  @include mq( $from : navfull){
    position: absolute;
    width: 75%;
    right: 0;
    left: initial;
    top: 80px;
    height: 60px;
  }
  &.c-dialog{
    &.is-open{
      display: none;
      @include mq( $from : navfull){
        display: inline-block;
      }
    }
  }
  .c-dialog__overlay{
    background: transparent;
  }
.c-dialog__content-wrapper{
  transform: none;
  transition:none;
}
  .c-dialog__content{
    transition:none;
    // transition-property: transform;
    // transition-duration: 0.15s;
    // transition-timing-function: linear;
    // transition-delay: 0.3s;
    @include mq( $from : navfull){
      position: absolute;
      left:0;
      top:0;
      height: 100%;
      width: 100%;
      background:transparent;
      overflow-y: auto;
      transform: none;
      overflow: initial;
    }
  }

  .c-dailog__close{
    @include mq( $from : navfull){
      height:auto;
      top: 3px;
      position: absolute;
      right: 20px;
    }
    .c-button {
      @include mq( $from : navfull){
      position: relative;
      top: initial;
      margin-top: 0;
      height: 25px;
      }
    }
  }

  .c-dailog__content_wrapper{
    @include mq( $from : navfull){
      margin-top: 24px;
    }
  }
}

// Site search bar is open
.js-site-search-active{
  .c-main-nav-outer-wrapper{
    @include mq( $from : navfull){
      opacity: 0;
    }
  }
  .js-site-search-trigger{
    @include mq( $from : navfull){
      display: none;
    }
  }
}

/*
   State
*/
.js-mobile-menu-active{

  .js-site-search-trigger{
    display: none;
  }

  .c-dialog__overlay{
    background: map-get($global-colors, blue )
  }

  header{
    z-index: -1;
  }

  .c-main-nav__wrapper{
    padding-top: 12px;
    padding-bottom: 0;
  }

}


/*
  - Hide others
*/

// .c-dialog[aria-hidden=true],
// #main-content[aria-hidden=true],
// #search-bar[aria-hidden=true],
// footer[aria-hidden=true]{
//   max-height: 0;
//   overflow: hidden;
//   opacity: 0;
//   z-index: -1;
//   transition: opacity 0.3s;

//     .c-dialog__overlay{
//       display: none;
//     }
// }


body.js-dailog-open,html.js-dailog-open{
  overflow: hidden;
}