.c-two-columns__left{
    margin-bottom: $global-spacing;
    @include mq( $from : md){
        margin-bottom: 0;
        padding-right: 15px;
    }
    img{
        width:100%;
    }
}
.c-two-columns__right{
    @include mq( $from : md){
        padding-left: 15px;
    }
}
.c-page-not-found{
    p{
        font-size: 2rem;
    }
}
.c-two-columns__copy-image{
    margin-top: 20px;
    display: block;
    @include mq( $from : ml){
        display: inline-block;
        max-width: calc(100% - 300px);
        margin-top: 0;
        margin-left: 20px;
    }
}