.c-news-card__item{
    text-align: left;
    width:100%;
    margin:0 auto;
    font-size: 1.6rem;
    box-shadow: 10px 3px 24px 0 rgba(0,0,0,0.1);
    transition: $global-transition;

    @include mq( $from : sm){
        width:400px;
        margin:0 auto;
    }
    @include mq( $from : 680px){
        width:280px;
        margin:0 auto;
    }
    a{
        text-decoration: none;
        color: map-get($global-colors, light-black);
        &:hover, &:focus{
            .c-news-card-copy__read-more{
                transition: $global-transition;
                color: map-get($global-colors, lime-green);
            }
            .c-news-card__image{
                background-size: 110%;
                transition: $global-transition;
            }
        }
    }
}
.c-news-carousel__items{
    .c-news-card__item{
        box-shadow: none;
        margin-left: auto;
        @include mq( $from : sm){
            box-shadow: 10px 3px 24px 0 rgba(0,0,0,0.1);
        }
        @include mq( $from : lg){
            margin-left: 0;
        }
    }
}
.c-news-card-copy__read-more{
    text-decoration: underline;
    transition: $global-transition;
    color: map-get($global-colors, blue-green);
}
.c-news-card__image{
    width:100%;
    height: 158px;
    background-size: 100%;
    background-position: center;
    transition: $global-transition;
    background-repeat: no-repeat;
    @include mq( $from : 360px){
        height: 169px;
    }
    @include mq( $from : sm){
        width:400px;
        height: 225px;
        margin:0 auto;
    }
    @include mq( $from : 680px){
        width:280px;
        height: 176px;
        margin:0 auto;
    }
}
.c-news-card-content{
    padding:20px;
    color : map-get($global-colors, light-black);
    background: map-get($global-colors, white);
    @include mq( $from : sm){
        padding: 30px 20px;
    }
}
.c-news-card-copy{
    margin-top: $inuit-global-spacing-unit-small + 6;
}
.c-news-card-copy__title{
    font-size: 2.2rem;
    line-height: 22px;
}
.c-news-card-copy__summary{
    p{
        line-height: 20px;
        color : map-get($global-colors, dark-grey);
    }
}