// Mobile Nav
#mobile-nav{
    .c-dialog__overlay{
      background: map-get($global-colors, white );
    }
    .c-main-nav__link{
      font-size: 2.8rem;
      text-align: center;
      padding: $global-spacing 0;
    }
    .c-main-nav__primary{
      padding-right: 0;
    }
    // active menu item for mobile
    .current-menu-item{
      .c-main-nav__link{
        color: map-get($global-colors, blue-green );
      }
    }
}