.c-container-returned-carousel-wrapper{
    background: map-get($global-colors, white );
    box-shadow: 10px 3px 24px 0 rgba(0,0,0,0.1);

}
.container-slick-carousel__container{
    .o-layout__item{
        @include mq ( $from : md){
            position: relative;
            background: map-get($global-colors, light-black );
        }
        @include mq ( $from : ml){
            background: map-get($global-colors, white );
        }
        display: none;
        &:nth-of-type(1){
            display: block;
        }
    }
    // fix all sliders show before slick is initialized
    .slick-slider{
        .slick-slide{
            display: none;
            .c-container-carousel__item{
                display: block;
            }
            &:nth-of-type(1){
                display: block;
            }
        }
    } 
    .slick-initialized{
        &.slick-slider{
            .slick-slide{
                display: block;
                &:nth-of-type(1){
                    display: block;
                }
            }
        }
    }
}
// after slick is initialized, show arrows
.c-container-returned-carousel{
    position: relative;
    &.initialized{
        .c-container-returned-carousel__arrows{
            opacity: 1;
        }
    }
    .o-layout__item{
        padding-left: 0;
    }
}
.c-container-carousel__item{
    width:100%;

    @include mq ( $from : md){
        position: relative;
    }
    ul{
        margin-bottom: 0;
        margin-top: $global-spacing - 10;
        @include mq ( $from : md){
            margin-top: $global-spacing;
        }
        li{
            &:before{
                background: map-get($global-colors, white ) !important;
            }
        }
    }
    h2,p{
        color: map-get($global-colors, white );
    }
    a{
        color: map-get($global-colors, lime-green );
        transition: $global-transition;
        &:hover, &:focus{
            transition: $global-transition;
            color: map-get($global-colors, blue-green );
        }
    }
    
}
.c-container-carousel__left{
    padding: $global-spacing;
    background: map-get($global-colors, light-black );
    width:100%;
    position: relative;
    height:209px;
    @include mq ( $from : lm){
        height: 196px
    }
    @include mq ( $from : md){
        width:50%;
        vertical-align: top;
        padding: 50px 40px;
        float: left;
        height:auto;
    }
    @include mq ( $from : ml){
        padding: 60px 57px;
        height: 420px;
    }
    @include mq ( $from : footer){
        height: 440px;
    }
}
.c-container-carousel__right{
    width: 100%;
    position: relative;
    @include mq ( $from : md){
        width:50%;
        float: right;
        height:auto;
    }
    @include mq ( $from : ml){
        height: 420px;
    }
    @include mq ( $from : footer){
        height: 440px;
    }
    img{
        width:100%;
    }
}
.c-container-carousel--type__text{
    h2{
        font-size: 2.8rem;
        color:map-get($global-colors, white );
        line-height: 32px;
        margin-bottom:10px;
        @include mq ( $from : md){
            font-size: 3.4rem;
            line-height: 40px;
            margin-bottom:20px;
        }       
        @include mq ( $from : ml){
            font-size: 4.8rem;
            line-height: 55px;
            margin-bottom:20px;
        }
    }
}
.c-container-carousel--type__copy{
    font-size: 1.4rem;
    color: map-get($global-colors, white );
    @include mq ( $from : md){
        font-size: 2.1rem;
        line-height: 25px;
    }
}
.c-container-carousel--type__not-refunded,
.c-container-carousel--type__go-to-go{
    font-size: 1.6rem;
    font-weight: $font-weight-extra-bold;
    margin-bottom: $global-spacing - 10;
    @include mq ( $from : md){
        font-size: 1.8rem;
        margin-bottom: $global-spacing;
    }
}
.c-container-carousel--type__not-refunded{
    color: map-get($global-colors, white );
}
.c-container-carousel--type__go-to-go{
    color: map-get($global-colors, lime-green );
}
.c-container-carousel--type__link{
    @include mq ( $from : md){
        position: absolute;
        bottom: 60px;
    }
}
.c-container-returned-carousel__dots{
    display: block;
    @include mq ( $from : ml){
        display: none;
    }
}