.c-info-block__outer-wrap{
    padding-bottom:40px;
    @include mq( $from : md){
        padding-bottom:80px;
    }
}
.c-info-block__item{
    width:100%;
    padding: 40px 0;
    border-bottom: 1px solid map-get($global-colors, grey);
    &:last-of-type{
        border-bottom:none;
    }
    @include mq( $from : md ){
        width: 48%;
        display: inline-block;
        max-width: auto;
        margin-right: 20px;
        padding: 80px 0 40px;
        &:nth-of-type(2n){
            margin-right: 0;
        }
        &:last-of-type{
            border-bottom: 1px solid map-get($global-colors, grey);
        }
    }
    h3{
        margin-bottom:30px;
    }
    p{
        margin-bottom:20px;
        @include mq( $from : md ){
            margin-bottom:30px;
        }
    }
}