.c-accordion__title{
    display:inline-block;
    vertical-align: middle;
    transition: $global-transition;
    color:map-get($global-colors, blue-green );
    font-weight: $font-weight-regular;  
    margin-bottom:0;
    font-size: 2.4rem;
    line-height: 28px;
    // accordion is open
    [aria-expanded=true] &{
        transition: $global-transition;
        color:map-get($global-colors, light-black );
    }
}

/*
  * Prefixed accordion c-animated-accordion
 */
 .c-animated-accordion__title{
    display:none;
 }
.c-no-accordion-header{
    .c-animated-accordion__header{
        &:first-of-type{
            border-top: none;
        }
    }
}
.c-animated-accordion__header{
    cursor: pointer;
    position: relative;
    border: none;
    padding: 25px 30px 25px 20px;
    border-top: 1px solid $separator-color;
    width: 100%;
    font-size: 0;
    text-align: left;
    background: map-get($global-colors, white );
    &:before{
        @include arrowIcon;
        content:"\f106";
        right: 10px;
        font-size: 18px;
        transition: $global-transition;
        color: map-get($global-colors, blue-green );
    }
    // accordion is open
    &[aria-expanded=true]{
        background: map-get($global-colors, dark-white );
        &:before{
            content:"\f107";
            transition: $global-transition;
            color: map-get($global-colors, light-black );
        }
    }
}


.c-animated-accordion__panel{
    @include heightShow;
    padding: 0 $global-spacing;
    background: map-get($global-colors, dark-white );
}
/* This is the hidden state */
[aria-hidden=true].c-animated-accordion__panel {
  @include heightHide;
  padding: 0 $global-spacing;
}

/* Custom Accordion */
.c-custom-accordion__wrapper{
    background: map-get($global-colors, dark-white );
    border-bottom: 4px solid map-get($global-colors, lime-green );
    .c-animated-accordion__header{
        background: map-get($global-colors, dark-white );
        padding: 25px 0;
        &:before{
            right:0;
        }
    }
    .c-animated-accordion__panel,
    [aria-hidden=true].c-animated-accordion__panel {
        padding:0;
    }
    ul{
        &.c-accordion{
            padding: 0 $global-spacing;
        }
    }
    .c-accordion__title{
        padding-right: $global-spacing;
    }
}
.c-custom-accordion__intro{
    padding: $global-spacing;
}
.c-custom-accordion__section-title{
    &.c-custom-accordion__normal{
        text-transform: uppercase;
        color: map-get($global-colors, light-black );
        padding: 7px;
        font-size: 1.2rem;
        font-weight: $font-weight-extra-bold;
        background: map-get($global-colors, lime-green );
        display: inline-block;
        margin-bottom: $global-spacing;
        line-height: normal;
        letter-spacing: 1px;
        font-family: $global-font-primary-secondary;
    }
    &.c-custom-accordion__return-point-type{
        img{
            float: left;
            margin-right: 10px;
            width: 25px;
        }
    }
}

.c-return-point-accordion{

}
.c-custom-accordion__section-copy{
    @include mq( $from : md ){
        font-size: 2rem;
        line-height: 28px;
    }
}