.c-main-nav{
  display:none;

  [data-visually-hidden="true"] {
    display: none;
  }
  [data-visually-hidden="false"] {
    display: block;
  }
  

  @include mq( $from : navfull) {
    display:block;
  }

  .c-dailog--menu-mobile & {
    display : block;
    @include mq( $from : navfull) {
      display:none;
    }
  }
}
.c-main-nav-outer-wrapper{
  display: none;
  @include mq( $from : navfull) {
    display:inline-block;
  }
}
.c-main-nav__wrapper{
  padding: $inuit-global-spacing-unit-large 0;
  font-size:0;

  @include mq( $from : navfull ) {
    display: inline-block;
    padding: 0;
    height: 100%;
    width: 100%;
    // left:-5px;
    text-align: right;
    position: relative;
  }
}
.c-main-nav-desktop{
  margin-top: 15px;
}
.c-main-nav__primary{
  border-bottom:1px solid map-get($global-colors, grey);
  font-size:0;
  text-align:left;
  padding-right: 22px;
  font-family: $global-font-primary-secondary;
  font-weight: $font-weight-extra-bold;
  &:last-child{
    padding-right: 0;
  }
  @include mq( $from : navfull ) {
    display:inline-block;
    vertical-align: bottom;
    border-bottom:none;
    position: relative;
  }

  &:hover, &:focus{
    & > .c-main-nav__link--primary{
      color : map-get($global-colors, blue-green);
    }
  }
}
// active menu item for desktop
.current-menu-item{
  .c-main-nav__link{
    color:map-get($global-colors, blue-green);
  }
}

  .c-main-nav__link{
    text-decoration: none;
    display: inline-block;
    color : map-get($global-colors, light-black);
    width: 100%;
    @include mq( $from : navfull ) {
      @include inuit-font-size(13px);
      display: block;
    }
  }
  .c-main-nav__link--primary{

    font-weight: 900;
    line-height: 17px;
    @include inuit-font-size(15px);
  
    @include mq( $from : navfull ) {
      span{
        display: inline-block;
        vertical-align: middle;
      }
    }
    // @include mq( $from : xl ) {
    //   @include inuit-font-size(18px);
    // }

    &:hover, &:focus, &.is-active{
      color : map-get($global-colors, blue-green);
    }
  }






