.c-return-point-card__item{
    width:100%;
    margin:0 auto;
    height: 120px;
    background-color: map-get($global-colors, white);
    padding: 20px 10px;
    position: relative;
    transition: $global-transition;
    &.selected-return-point{
        background-color: map-get($global-colors, dark-white);
        transition: $global-transition;
        .c-return-point-card--type__image{
            background-image: none;
            background-color: map-get($global-colors, light-black);
        }
    }
    @include mq( $until : md ){
        border-right: 1px solid map-get($global-colors, grey);
    }
    a{
        text-decoration: none;
        cursor: pointer;
        color: #585858;

        &:hover {
            color: #00A99D;
        }
    }
    @include mq( $from : md ){
        border: 1px solid map-get($global-colors, grey);
        &:hover, &:focus{
            background-color: map-get($global-colors, dark-white);
            transition: $global-transition;
        }
    }
}
.c-return-point-card--type__image{
    display: inline-block;
    vertical-align: top;
    width: 42px;
    border-radius: 50%;
    height: 42px;
    text-align: center;
    line-height: 32px;
    position: relative;
    margin-right: 5px;
    background-color: #00a99d;
    &.express{
        text-align: left;
        background-color: #a0c13b;
    }
    img{
        height: 42px;
        display: inline-block;
    }
}
.c-return-point-card--name__suburb{
    h4{
        color: rgba(0, 0, 0, 0.8);
        font-size: 21px;
        line-height: 25px;
        letter-spacing: -0.48px;
        text-transform: none;
    }
}
.c-return-point-card__copy{
    width: calc( 100% - 57px);
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    color: map-get($global-colors, blue-green );
    font-size: 1.3rem;
    font-weight: $font-weight-bold;

    &.express {
        color: #a0c13b;
    }
}
.c-return-point-card__read-more{
    position: absolute;
    right: 20px;
    bottom: 17px;
    font-size: 1.4rem;
    a{
        text-decoration: underline;
    }
}

.c-return-point-card--address{
    color: map-get($global-colors, light-black);
    font-size: 1.4rem;
    width: calc( 100% - 40px );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $font-weight-regular;
    bottom: 10px;
    position: relative;
    display: block;
    text-transform: none;
}

.c-return-point-card--link{
    text-decoration: none;
}




/**
* Return Point Card on detail page
*/ 
.c-return-point-detail__intro{

    .c-return-point-detail_feature-items{
        margin-left: -10px;
    }
    .c-return-point-detail__intro-top{
        margin-bottom:45px;
    }
    .c-return-point-detail__intro-bottom{
        display: block;
        background: map-get($global-colors, dark-white );
        padding: 40px 15px;
        @include mq( $from : sm ){
            padding: 40px 25px;
        }
        h2{
            width: calc(100% - 120px);
            display: inline-block;
            vertical-align: top;
            @include mq( $from : sm ){
                width: calc(100% - 135px);
            }
        }
        img{
            width: 110px;
            float: right;
            @include mq( $from : sm ){
                width: 130px;
            }
        }
        .c-button{
            font-size: 1.6rem;
            display: block;
            text-align:center;
            margin-top: 20px;
            font-weight: $font-weight-bold;
            padding:0;
            @include mq( $from : sm ){
                padding: 0 25px;
            }
        }
    }
    li{
        &:last-of-type{
            .c-return-point-detail_feature-item-copy{
                border-bottom: none;
            }
        }
    }
    .c-return-point-detail_feature-item{
        font-weight: $font-weight-regular;
        display: table;
        width: 100%;
        height:70px;
    
        .c-return-point-detail_feature-item-copy{
            width: calc(100% - 60px);
            display: table-cell;
            vertical-align: middle;
            border-bottom: 1px solid map-get($global-colors, grey );
        }
        .c-return-point-detail_feature-item-icon{
            display: table-cell;
            text-align: center;
            width: 75px;
            vertical-align: middle;
        }
    }
}
