.c-contact-us-form,
.c-supplier-form{
  .validation_error,
  .gform_title{
      display: none;
  }
}
.c-contact-us-form{
    max-width: 650px;
    legend{
      display: none;
    }
    fieldset{
      margin-bottom: 0;
    }
}
.gform_confirmation_message{
    font-size: 1.8rem;
}
.ginput_container_fileupload{
    overflow: hidden;
}
.c-supplier-form{
    .gform_fields{
        >li{
            &.gfield{
                @include mq ($from : md){
                    padding-right:10px;
                }
                &:nth-of-type(2n){
                    @include mq ($from : md){
                        padding-right: 0;
                        padding-left: 10px;
                    }
                }
            }
        }
    }
}
.gform_fields{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    .o-layout__item{
        padding-left: 0;
    }
}
.gform_body{
    .ginput_counter{
        display: none;
    }
    .gfield_description{
        font-size: 1.2rem;
        line-height: 14px;
        margin-top: 10px;
        color: map-get($global-colors, light-black );
        &.validation_message{
            color: red;
            margin-top: 8px;
            font-size: 1.6rem;
            line-height: normal;
            position: relative;
            @include mq( $from : md ){
                margin-top: 2px;
                font-size: 1.3rem;
                line-height: 16px;
                position: absolute;
            }
        }
    }
    .instruction,
    [id*='extensions_message']{
        display: none;
    }
    .gfield_required{
        color: red;
    }
    ul{
        margin-left: 0;
        margin-bottom: 0;
    }
    li{
        padding-top: 0;
        margin-bottom: 30px;
        @include mq( $from : md ){
            margin-bottom: 50px;
        }
    }
    .c-group-list{
        margin-top: 0px;
        @include mq( $from : md ){
            margin-top: 10px;
        }
        li{
            &:nth-last-of-type(2),
            &:last-of-type{
                margin-bottom:0;
            }
        }
    }
    // radio button
    .gfield_radio{
        li{
            width:auto;
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 0;
            &.last-child{
                margin-right: 0;
            }
        }
    }
    // input field
    input,
    select{
        height: 50px;
        width: 100%;
        font-size: 1.6rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid rgba(0,0,0,.25);
        padding: 8px 12px;
        transition: $global-transition;
        border-radius: 0;
        background: map-get($global-colors, white );

        &:not([disabled]){
            &:hover,&:focus{
                transition: $global-transition;
                border-color: map-get($global-colors, blue-green );
            }
        }
    }
    // text area
    textarea{
        width:100%;
        height:200px;
        font-size: 1.6rem;
        padding: 13px 17px;
        border:1px solid rgba(0,0,0,.25);
        transition: $global-transition;
        &:hover,&:focus{
            transition: $global-transition;
            border-color: map-get($global-colors, blue-green );
        }
    }
    // checkbox and radio button
    input{
        &[disabled]{
            background: map-get($global-colors, grey );
        }
        &[type="file"]{
            // line-height: 27px;
            background: transparent;
            height: auto;
            padding: 10.5px 12px;
        }
        &[type="checkbox"],
        &[type="radio"]{
            width:25px;
            height: 25px;
            padding:0;
            position: relative;
            top: 5px;
            margin-right: 5px;
        }
        &[type="checkbox"]{
            &:checked{
                &:before{
                    @include arrowIcon;
                    content:"\f00c";
                    font-size: 18px;
                    transition: $global-transition;
                    color: map-get($global-colors, light-black );
                    left: 3px;
                    top: 2px;
                    -webkit-text-stroke: 1px map-get($global-colors, lime-green);
                }
                &:after{
                    content:"";
                    background: map-get($global-colors, lime-green );
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: -1;
                }
            }
        }
        &[type="radio"]{
            border-radius: 50%;
            &:after{
                content:"";
                transition: $global-transition;
                background: map-get($global-colors, lime-green );
                width: 100%;
                height: 100%;
                border-radius: 50%;
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            &:checked{
                &:after{
                    transition: $global-transition;
                    opacity: 1;
                    z-index: 1;
                }
            }
        }
    }
    // label
    label{
        margin-bottom: 15px;
        position: relative;
        font-weight: $font-weight-regular;
        font-size: 1.6rem;
        &.gfield_label{
            display: block;
        }
        @include mq ($from : md){
            font-size: 1.8rem;
        }
    }
    // address container
    .ginput_container_address{
        [class*="address_line"]{
            label{
                display: none;
            }
        }
    }
    // select container
    .ginput_container_select{
        position: relative;
        // select
        select{
            -webkit-appearance: none;
            position: relative;
            background-image: url('/wp-content/themes/webling-act/static/images/icons/icon-arrow-down.svg');
            background-repeat: no-repeat;
            background-position: 95% center;
            @include mq( $from : sm) {
            background-position: 97% center;
            }
        }
    }


    // checkbox container
    .ginput_container_checkbox{
        li{
            margin-bottom:10px;
        }
    }
}
.gform_footer{
    display: inline-block;
    position: relative;
    &:before{
        @include arrowIcon;
        content:"\f105";
        right: 26px;
        top: 8px;
        font-size: 18px;
        transition: $global-transition;
        color: map-get($global-colors, white );
    }
    input{
        &[type="submit"]{
            background: map-get($global-colors, blue-green );
            color:map-get($global-colors, white );
            font-weight: $font-weight-regular;
            border:none;
            cursor: pointer;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-family: $global-font-primary-secondary;
            padding: 13px 50px 13px 25px;
            transition: $global-transition;
        }
        &:hover, &:focus{
            transition: $global-transition;
            background: map-get($global-colors, lime-green );
        }
    }
}
// remove extra spacing
.has_street, 
.gform_footer,
.has_street{ 
    br,
    p{
        display:none; }
}
// hide asterisks
.c-hide-asterisk {
    .gfield_required { 
        display: none; 
    }
}