// General Button Style
.c-button{
  display: inline-block;

  height: 50px;
  cursor:pointer;
  width:auto;
  text-decoration: none;
  letter-spacing: $extra-letter-spacing;
  font-size: 1.4rem;
  font-weight: $font-weight-regular;
  padding: 0 25px;
  line-height: 50px;
  position: relative;

}

// Primary Button
.c-button--primary-button{
  border: 0;
  background: map-get($global-colors, lime-green);
  color:  map-get($global-colors, light-black);
  transition: $global-transition;
  &:hover, &:focus{
    transition: $global-transition;
    color:  map-get($global-colors, light-black);
    background: map-get($global-colors, lime-green-hover);
  }
}
.c-button--secondary-button{
  border: 0;
  background: map-get($global-colors,light-black);
  color:  map-get($global-colors, dark-white);
  transition: $global-transition;
  &:hover, &:focus{
    transition: $global-transition;
    color:  map-get($global-colors, dark-white);
    background: map-get($global-colors,light-black-hover);
  }
}
.c-button--icon{
  img{
    width: 17px;
    margin-right: 8px;
  }
}

.c-button__icon-wrapper{
  display: inline-block;
}
.c-button__inner{
  display: inline-block;
  vertical-align: middle;
  margin:auto;
}


.c-button--up-arrow{
  background : map-get($global-colors, light-black);

  &:hover, &:focus {
    background : map-get($global-colors, blue);
  }

  // move this to wrapper
  @include mq( $from : lg ){
    position: absolute;
    z-index:3;
    bottom:0;
    right:0;  
  }
 
}

.c-button--left-arrow,
.c-button--right-arrow{
  position: absolute;
  &:before{
    @include arrowIcon;
    color: map-get($global-colors, white );
    font-size: 27px;
    right: 23px;
  }
}
.c-container-returned-carousel__arrows
{
  display: none;
  @include mq( $from : ml ){
    display: block;
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 125px;
    opacity: 0;
  }
  button{
    width: 62px;
    height: 60px;
    opacity: 1;
    font-size: 0;
    line-height: 60px;
    i{
      font-size: 1.8rem;
    }
  }
}

.c-button--left-arrow{
  &:before{
    content: "\f104";
  }
  left: 0;
}

.c-button--right-arrow{
  &:before{
    content: "\f105";
  }
  right: 0;
}



.js-mobile-nav-trigger{
  @include mq( $from : navfull ){
    display: none;
  }
}

.c-button--skiplink{
  min-width: 200px;
  max-width: 200px;
  font-weight: 900;
  top: 0;
  background: map-get($global-colors, lime-green);
  border-radius: 3px;
  line-height: 48px !important;
  padding: 0;
  text-align: center;
  @include inuit-font-size(16px);
  color:  map-get($global-colors, white) !important;
  position: fixed;
  opacity: 0;
  &:focus {
    z-index: 22;
    opacity: 1;
  }
}