.c-return-point-result--title{
    h1, p{
        color: map-get($global-colors, white );
    }
}
.c-return-point-result{
    margin-top: 112px;
    position: relative;
}
.c-return-point-result{
    ~ footer{
        display: none;
    }
}
.c-return-point-result-wrapper{
    position: relative;
    &:before{
        content:"";
        background-image: url('/wp-content/themes/webling-act/static/images/bg-trasparent.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: -20%;
        opacity: .4;
    }
}
.c-return-point-result--list-view{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 120px;
    @include mq( $until : md ){
        z-index: 999;
    }
    @include mq( $from : md ){
        position: relative;
        height: calc(100vh - 112px);
        width: 360px;
        display: inline-block;
    }
}
.c-return-point-result--map-view{
    width: 100%;
    position: fixed;
    top: 112px;
    @include mq( $from : md ){
        width: calc( 100% - 360px);
        display: inline-block;
        vertical-align: top;
        right: 0;
    }
}
#c-results-map{
    height: calc( 100vh - 112px );
    @include mq( $from : md ){
        top: 0;
    }
}

.gm-style img {
    &:after {
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 0 1000px #000;
        position: absolute;
        height: 10px;
        content: '';
        left: 0;
        top: 0;
    }
}
