header,
#mobile-nav{
    &:before{
        content: '';
        width: 100%;
        height: 10px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-image: linear-gradient( to right, map-get($global-colors, lime-green) 0,
                                                    map-get($global-colors, blue-green) 100%);
    }
}
header{
    position: fixed;
    width:100%;
    z-index: 20;
    background-color: map-get($global-colors, white );
    padding: 32px 0 23px;
    box-shadow: 2px -1px 4px rgba(0,0,0,.2);
}
.c-header-logo{
    background-image: url('/wp-content/themes/webling-act/static/images/logo.png');
    background-repeat:  no-repeat;
    background-size: cover;
    display: inline-block;
    font-size: 0;
    width: 235px;
    height: 52px;
    position: relative;
    transition:none !important;
    @include mq( $from : navfull ){
        margin-bottom: 0;
    }
}