
.c-banner-wrapper{
  margin-top: 112px;
}
.c-banner{
  // position: relative;
}
.c-banner-text__inner{
  display: block;
  width: 100%;
  @include mq( $from : md){
    display: table;
    height:100%;
  }
}
.c-banner-text__column{
  display: block;
  width: 100%;
  @include mq( $from : md){
    display: table-cell;
    width: 49%;
    height:100%;
    vertical-align: middle;
  }
}
.c-banner-text__left-column{
  padding-right: 0;
  @include mq( $from : md){
    padding-right: 15px;
  }
}
.c-banner-text__right-column{
  padding-left: 0;
  @include mq( $from : md){
    padding-left: 15px;
  }
}
.c-banner-image__inner-wrapper{
  content:"";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80%;
  height: 250px;
  padding:0;
  @include mq( $from : md){
    height: auto;
    padding: 9.7% 0;
    background-position: center;
  }
}
.c-banner-text__wrapper{
  padding: 30px 0; 
  background-image: url('/wp-content/themes/webling-act/static/images/banner-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mq( $from : md){
    padding: 60px 0;
  }
  h1{
    color: map-get($global-colors, white);
    margin-bottom:$global-spacing;
    @include mq( $from : md){
      margin:0;
    }
  }

}
/**
Banner Title
*/ 
.c-banner__title{
  font-weight: 900;
  color: map-get($global-colors, white );
  @include mq( $from : md){
    display: inline-block;
  }
}

/**
Banner Copy
*/ 
.c-banner__copy{
  font-family: $global-font-primary;
  color: map-get($global-colors, white );
  font-weight: $font-weight-regular;
  @include mq( $from : md){
    display: inline-block;
  }
  .c-button{
    width:100%;
    max-width: 315px;
    text-align: center;
  }
  p{
    &:last-child{
      margin-bottom: 20px;
    }
    @include mq( $from : md){
      font-size: 2.1rem;
      line-height: 27px;
      &:last-child{
        margin-bottom:0;
      }
    }
  }
}
/*
Inner Banner
*/ 
.c-inner-banner__map-wrapper{
  .o-wrapper{
    padding-left: 0;
    padding-right: 0;
    max-width: initial;
  }
}
// contact us page banner
.c-banner{
  .o-footer-contact-links-section{
    padding: $global-spacing 0;
    @include mq( $from : md){
      padding: 40px 0 0;
    }
  }
  .c-footer-contact-links__item{
    font-family: $global-font-primary;
    text-align: left;
    @include mq( $from : md){
      width:100%;
      &:last-child{
        margin-top: 10px;
      }
    }
    @include mq( $from : ml){
      float: left;
      width: 49.5%;
      padding-left: 0;
      &:last-child{
        margin-top: 0;
      }
    }
  }
  .c-footer-contact-links__copy{
    color: map-get($global-colors, white );
    font-size: 1.1rem;
  }
  .c-footer-contact-links__link{
    font-weight: $font-weight-regular;
  }
}
#return-point-map{
  height: 250px;
}
.c-inner-banner__map{
  height: 250px;
  overflow: hidden;
}
