.c-return-point-detail--top-wrapper{
    position: relative;
    table{
        width: 100%;
        tr{
            td{
                &:nth-child(2){
                    font-weight: $font-weight-bold;
                }
            }
        }

    }
}
.c-return-point-detail--left-content{
    h1{
        font-family: $global-font-primary;
        font-size: 42px;
    }
    h2{
        font-size: 2.4rem;
        line-height: 28px;
    }
    margin-right: 0px;
    @include mq( $from : md ){
        max-width: 425px;
        margin-right: 10px;
    }
}
.c-return-point-detail--type-icon{
    font-weight: $font-weight-bold;
    margin-bottom: $global-spacing;
    color: #00a99d;
    text-transform: uppercase;
    &.express{
        color: #a0c13b;
    }
    img {
        width: 42px;
        padding-right: 6px;
    }
}

.c-return-point-detail--address{
    margin-bottom: $cms-content-spacing-regular;
    font-weight: $font-weight-extra-bold;
}
.c-return-point-detail--opening-hours{
    margin-top:80px;
    margin-bottom: 40px;
    //margin-bottom: $cms-content-spacing-large;
}
.c-return-point-detail--intro-section{
    position: relative;
    width:100%;

    @include mq( $from : md ) {
        position: absolute;
        right: 20px;
        top: 0;
        max-width: 425px;
        width: 50%;
        padding-left: 30px;
    }
}

.c-return-point-detail__return-it-logo{
    text-align: center;
    margin-top: 30px;
    img{
        width:260px;
    }
}

.c-return-point-detail--open-map {

    @include mq( $until : sm ) {
        a {
            display: block;
            text-align: center;
            font-weight: 900;
        }
    }
}

.static-sidebar{
    position: static;
    width: 100%;
    margin-bottom: 15px;
}