// .c-news-list-wrapper{
//     background: map-get($global-colors, dark-white );
// }
.c-news-list__item{
    width: 100%;
    margin-bottom:$cms-content-spacing-large;
    padding:0;
    .c-news-card__item{
        margin:0 auto;
    }
    @include mq( $from : sm){
        margin-bottom:6%;
    }
    @include mq( $from : 680px){
        width: 50%;
    }
    @include mq( $from : ml){
        width: 33.33%;
    }
}
.c-news-carousel__items{
    .c-news-list__item{
        padding: 0 10px;
        margin-bottom:0;
        @include mq( $from : sm){
            padding:0;
        }
    }
}
.c-news-carousel__button{
    text-align: center;
}
// Filters
.c-search-results-filters__items{
    margin-bottom:0;
    text-align: center;
    display: inline-block;
}
.c-news-results-filters{
    text-align: center;
    font-family: $global-font-primary-secondary;
    p{
        display: inline-block;
        margin-right: 10px;
        font-weight: $font-weight-bold;
        margin-bottom: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
    }
}
html.non-touch{
    .c-search-results-filters__item{
        label{
            &:hover{
                transition: $global-transition;
                background: map-get($global-colors, lime-green );
                border-color: map-get($global-colors, lime-green );
            }
        }
    }
}

.c-search-results-filters__item{
    display: inline-block;
    margin-right: 3px;
    margin-bottom:8px;
    @include mq( $from : sm){
        margin-right: 8px;
    }
    label{
        display: inline-block;
        cursor: pointer;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        padding: 3px 11px;
        border: 1px solid rgba(53,53,53,0.25);
        color: map-get($global-colors, black );
        transition: $global-transition;
    }
    input{
        &[type="checkbox"]{
            width:0px;
            height:0px;
            opacity: 0;
            position: absolute;
        }
        &:focus{
            ~ label{
                outline: -webkit-focus-ring-color auto 5px;
            }
        }
        &:focus:not([keyboard-focus]) {
            ~ label{
                outline: 0;
            }
        }
        &:checked{
            ~ label{
                background: map-get($global-colors, lime-green );
                border-color: map-get($global-colors, lime-green );
            }
        }
    }
}
