// News detail banner
.c-inner-banner__news-details{
    padding-top: 48px;
    background: map-get($global-colors, dark-white);
}
.c-news-detail-banner{
    h1{
        font-size: 2.8rem;
        line-height: 28px;
        text-align: left;
        margin-bottom:0;
        @include mq( $from : md){
          font-size: 4.8rem;
          line-height: 48px;
        }
    }
    .breadcrumb{
        ul{
            margin:0;
        }
    }
}

// News info section - Card and Detail page
.c-news__info{
    display: block;
    font-size: 0;
}
.c-news__publish-date,
.c-news__type{
    display: inline-block;
    width:50%;
    vertical-align: top;
}
.c-news__type{
    span{
        background: map-get($global-colors, lime-green);
        color: map-get($global-colors, light-black);
        font-family: $global-font-primary-secondary;
        padding:7.5px 7px;
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 20px;
        top: 2px;
        position: relative;
    }
}
.c-news-detail__image{
    figure{
        max-width: 656px;
        margin:0 auto;
    }
    figcaption{
        opacity: .6;
        margin-top: 10px;
        font-size: 1.4rem;
        line-height: 19px;
    }
    img{
        max-width: 100%;
    }
}
.c-news__publish-date{
    text-align: right;
    span{
        font-size: 1.4rem;
        line-height: 21px;
        vertical-align: middle;
        font-weight: $font-weight-extra-bold;
        color : map-get($global-colors, dark-grey);
    }
}

/* FE overwrite style for addthis plugin */
.c-news-detail__share {
    margin: 30px 0px 25px;
}
.c-news-detail__share-label,
.c-news-detail__share-plugin{
    display: inline-block;
}
.c-news-detail__share-label{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    font-weight: $font-weight-bold;
    top: 4px;
    position: relative;
}
.at-style-responsive .at-share-btn{
    margin-right: 10px !important;
    margin-bottom: 0 !important;
}
.at-resp-share-element .at-share-btn .at-label{
    font-size: 16px !important;
    font-family: $global-font-primary !important;
    font-weight: $font-weight-regular;
}
.addthis_tool{
    margin: 0 !important;
}