.o-footer-contact-links-section{
    padding:40px 0;
    position: relative;
    @include mq( $from: md){
        padding: 20px 0;
    }
}
.c-footer-contact-links__item{
    text-align: center;
    padding-left: 0;
    font-family: $global-font-primary-secondary;
    line-height: 31px;
    &:first-child{
        margin-bottom:25px;
    }
    @include mq( $from: md){
        display: inline-block;
        text-align: left;
        width:49.5%;
        padding-left: 5px;
        &:first-child{
            margin-bottom:0;
        }
    }
}
.c-footer-contact-links__copy{
    font-size: 1.1rem;
    text-transform: uppercase;
    line-height: 22px;
    margin:0;
    font-weight: $font-weight-extra-bold;
    color: map-get($global-colors, light-black );
}
.c-footer-contact-links__link{
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 26px;
    font-weight: $font-weight-extra-bold;
    color: map-get($global-colors, lime-green );
    &:hover, &:focus{
        color: map-get($global-colors, blue-green );
    }
}

.c-dailog--menu-mobile{
    .o-footer-contact-links-section{
        padding-top: 0;
        ul{
            padding-left: 0;
        }
    }
    .c-footer-contact-links__item{
        border-bottom: 1px solid map-get($global-colors, grey);
        padding: $cms-content-spacing-small 0;
        text-align: center;
        &:first-child{
            margin-bottom:0;
        }
        @include mq( $from: md){
            display: block;
            width:100%;
        }
        .u-text-black{
            color: map-get($global-colors, primary-blue) !important;
        }
    }
    .c-footer-contact-links__link{
        &:hover, &:focus{
            color: map-get($global-colors, primary-green) !important;
        }
    }
}