ul{
    list-style: none;
    margin-left: 30px;
    li{
        position: relative;
        font-weight: $font-weight-regular;
    }
    &.c-hyphen-list{
        margin-left: $global-spacing - 10;
        li{
            a{
                font-weight: $font-weight-regular;
            }
            &:before{
                width: 5px;
                height: 1px;
                background: map-get($global-colors, light-black );
                display: inline-block;
                content: "";
                position: absolute;
                left: -10px;
                top: 8px;
            }
        }
    }
}