// Tabs
.c-tabs-menu {
    width: 100%;
    border-radius: 30px;
    background: map-get($global-colors, light-grey );
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li{
        padding: $global-spacing - 5 0;
        position: relative;
        &:hover, &:focus{
            a{
                color: map-get($global-colors, primary-blue );
            }
        }
        &.active{
            &:after{
                content: "";
                width: 15px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid map-get($global-colors, light-grey );
                position: absolute;
                left: 0;
                right: 0;
                bottom: -15px;
                margin: auto;
                z-index: 20;
                
            }
            a{
                color: map-get($global-colors, primary-blue );
            }
        }
        a{
            text-decoration: none; 
            font-size: 1.8rem;
        }
    }
}
.c-tab-contents-container {
    width: auto;
}
.c-tab-content {
    padding: $global-spacing;
    display: none;
    &:first-of-type{
        display: block;
    }
}