footer{
  position: relative;
  &:after{
    content: '';
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom:0;
    background-image: linear-gradient( to right, map-get($global-colors, lime-green) 0,
                                                map-get($global-colors, blue-green) 100%);
  }
}
.c-footer{
  padding-top:40px;
  // padding-bottom:100px;
  padding-bottom:40px;
  margin:auto;
  position: relative;

  @include mq( $from: sm){
    max-width: 540px;
    padding: 40px 15px;
  }

  @include mq ( $from: md){
    max-width: 100%;
    padding: 40px 0;
  }
}

.c-footer__row{
  @include mq( $from: footer){
    display: inline-block;
  }
}

.c-footer-links{
  // margin-top: 66px;
  margin-left: 0;
  @include mq($from : sm){

  }
  @include mq($from : md){
    text-align: left;
    position: relative;
    max-width: initial;
    margin-left: 0;
    padding-bottom: 30px;
    margin-bottom: 25px;
    display: block;
    &:after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: 2px solid map-get($global-colors, dark-grey);
    }
  }
  ul{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;

  }
}


.c-footer-links__item{
  position: relative;
  @include mq( $from: footer){
    width: auto;
    margin-bottom:10px;
  }
}

.c-footer-links__link{
  font-size: 1.8rem;
  line-height: 36px;
  font-weight: $font-weight-regular;

  color: #ffffff;

  &:hover, &:focus{
    color: map-get($global-colors, lime-green );
  }
  @include mq( $from: md){
    font-size: 1.8rem;
  }
}

.c-scroll-to-top{
  cursor: pointer;
  position: absolute;
  top: auto;
  bottom: 100px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: #474747;
  text-align: center;
  line-height: 42px;
  z-index: 9;
  @include mq( $from: md){
    top: 40px;
    right: 25px;
    bottom: auto;
  }
  &:hover, &:focus{
    opacity: .6;
  }
}
// Footer social link on desktop
.c-footer-bottom{
  display: block;
}
.c-footer-logo-section{

  @include mq( $from:md){
    width: 25%;
    float: left;
  }
}
.c-footer-logo{
  img{
    max-width: 210px;
  }
}
.c-footer-bottom-info{
  width:100%;
  @include mq( $from:md){
    max-width: 50%;
    display: inline-block;
    // vertical-align: top;
  }
  .c-footer-bottom-info__inner{
    text-align: left;
    margin-top: 30px;
    color: map-get($global-colors, grey );
    font-size: 1.4rem;
    line-height: 18px;
    @include mq( $from:md){
      text-align: center;
      width: auto;
      margin-top: 0;
    }
  }
  .c-footer-bottom-info__item{
    position: relative;
    font-size: 1.2rem;
    color: map-get($global-colors, grey );
    margin-right: 14px;
    a{
      color: map-get($global-colors, grey );
      &:hover, &:focus{
        color: map-get($global-colors, lime-green );
      }
    }
    &:last-child{
      margin-right: 0;
    }
    &:not(:last-child){
      &:after{
        background: map-get($global-colors, dark-grey );
        content: " ";
        margin-left: 10px;
        width: 1px;
        height: 14px;
        position: absolute;
        top: 0;
      }
    }
  }
}
.c-footer-social-links-desktop{
  display: none;
  @include mq( $from : md){
    display: block;
  }
}
.c-footer-social-links-desktop__items{
  margin-top: 20px;
  text-align: center;
  @include mq( $from: md){
    text-align: right;
    margin-top: 0;
  }
}
.c-footer-social-links-desktop{
  @include mq( $from: md){
    width: 24%;
    display: inline-block;
  }
}

.c-footer-social-links-desktop__item{
  display:inline-block;
  margin: 0 2px;
  @include mq ( $from: md){
    &:last-child{
      margin-right:0;
    }
    width: 50px;
    height: 50px;
    margin-right: 0;
    background-color: #a0c13b;
    text-align: center;
    line-height: 50px;
  }
}
.c-footer-social-links-desktop__link{
  display: block;
}

// Footer social link on mobile
.o-footer-social-links-section__mobile{
  display: block;
  @include mq( $from: md){
    display: none;
  }
}
.c-footer-social-links-mobile__items{
  margin:0;
}
.c-footer-social-links-mobile__item{
  width: 50%;
  margin: 0;
  float: left;
  position: relative;
  text-align: center;
  .c-footer-social-links-mobile__link{
    height: 50px;
    line-height: 50px;
    width: 100%;
    display: block;
    background:map-get($global-colors, lime-green );
    transition: $global-transition;
    &:hover, &:focus{
      transition: $global-transition;
      background:map-get($global-colors, lime-green-hover );
    }
  }
  &:first-of-type{
    &:after{
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      right: 0;
      top:0;
      background: map-get($global-colors, white );
    }
  }
}
