{# News card new layout starts #}
<div class="o-layout__item c-news-list__item">
    <div class="c-news-card__item">
        <a href="{{ item.link }}" class="c-news-card--link">
            <div class="c-news-card__image" style="background-image:url({{ item.exc_news_primary_image }})" aria-label="News Images">
            </div>
            <div class="c-news-card-content">
                <div class="c-news__info">
                    <div class="c-news__type u-1/2@xs">
                        <span>{{ item.exc_news_type }}</span>
                    </div>
                    {% if(item.exc_news_publish_date) %}
                        <div class="c-news__publish-date u-1/2@xs">
                            <span>{{ item.exc_news_modified_date }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="c-news-card-copy">
                    <h4 class="c-news-card-copy__title">{{ item.exc_news_title }}</h4>
                    <div class="c-news-card-copy__summary">
                        <p>{{ item.exc_brief_summary | striptags }}</p>
                    </div>
                    <div class="c-news-card-copy__read-more">
                        Read more
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{# News card new layout ends #}