html{
  font-size: 10px;
  line-height: 1.5;
}
body{
  font-family: $global-font-primary; // move to utility class ?
  font-weight: 400; // move to utility class ?
  line-height: $body-text-line-height;
  color : map-get($global-colors, dark-grey);
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  font-size: $body-text-font-size;
}