a{
  color : map-get($global-colors, blue-green);
  transition: $global-transition;
  -webkit-appearance: none;
  &:hover, &:focus {
    color : map-get($global-colors, light-black);
    transition: $global-transition;
  }

  &.c-external-link{
    display: inline;
    position: relative;
    &:after{
      content: "";
      background-image: url('/wp-content/themes/webling-act/static/images/icons/icon-link-blue-green.svg');
      background-repeat: no-repeat;
      width:13px;
      height:13px;
      top: 1px;
      display: inline-block;
      position: relative;
      margin-left: 3px;
    }
    &.c-button--secondary-button{
      padding: 16.5px 28px;
      &:after{
        background-image: url('/wp-content/themes/webling-act/static/images/icons/icon-link-white.svg');
      }
    }
    &:not(.c-button--secondary-button){
      &:hover, &:focus{
        &:after{
          background-image: url('/wp-content/themes/webling-act/static/images/icons/icon-link-light-black.svg');
        }
      }
    }
  }
}