p{
    font-size: $body-text-font-size;
    line-height: $body-text-line-height;
    margin-bottom: $global-spacing;
    font-weight: $font-weight-regular;
}
hr{
    color: map-get($global-colors, lime-green );
    background: map-get($global-colors, lime-green );
    margin: $global-spacing 0;
    height: 4px;
    border:none;
}
.subtitle{
    font-size: $body-text-font-size;
    line-height: $body-text-line-height;
    @include mq ($from : md){
        font-size: $subtitle-font-size;
        line-height: $subtitle-line-height;
    }
    p{
        @include mq ($from : md){
            font-size: $subtitle-font-size;
            line-height: $subtitle-line-height;
        } 
    }
}
.c-return-point-detail--read-more{
    p{
        margin-bottom:0;
    }
}
button, 
input, 
optgroup, 
select, 
textarea{
    font-family: $global-font-primary;
}
.c-cms-content-wrapper{
    iframe{
        width: 100% !important;
        max-width: 650px !important;
        height: 220px !important;
        @include mq( $from : sm){
            height: 365px !important;
        }
    }
}
:focus:not([keyboard-focus]) {
    outline-width: 0;
}