/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

// $inuit-font-size-h1:  78px !default;
// $inuit-font-size-h2:  48px !default;
// $inuit-font-size-h3:  38px !default;
// $inuit-font-size-h4:  28px !default;

h1 {
  font-size: 3.6rem;
  line-height: 40px;
  font-weight: $font-weight-extra-bold;
  font-family: $global-font-primary-secondary;
  color: map-get($global-colors, light-black);
  @include mq( $from : md){
    font-size: 4.8rem;
    line-height: 55px;
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 28px;
  font-weight: $font-weight-extra-bold;
  font-family: $global-font-primary-secondary;
  color: map-get($global-colors, light-black);
  @include mq( $from : md){
    font-size: 3rem;
    line-height: 35px;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 28px;
  font-weight: $font-weight-extra-bold;
  font-family: $global-font-primary-secondary;
  color: map-get($global-colors, light-black);
}
h4 {
  font-size: 1.8rem;
  line-height: 24px;
  font-weight: $font-weight-extra-bold;
  font-family: $global-font-primary-secondary;
  color: map-get($global-colors, light-black);
}

.c-cms-content-wrapper{
  h2 {
    margin-top: 38px;
    @include mq( $from : md){
      margin-top: 58px;
    }
  }
  h3{
    font-size: 1.8rem;
    line-height: 20px;
    margin-top: 32px;
    margin-bottom: 18px;
    @include mq( $from : md){
      margin-top: 48px;
      font-size: 2.8rem;
      line-height: 28px;
    }
  }
  h4 {
    font-size: 1.8rem;
    line-height: 20px;
    margin-top: 28px;
    margin-bottom:0;
    font-weight: $font-weight-extra-bold;
  }  
}



// WEBPACK FOOTER //
// ./node_modules/inuitcss/elements/_elements.headings.scss