///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$inuit-global-font-size: 10px;

$inuit-wrapper-width: 1200px + $inuit-global-spacing-unit * 2;

// Global wrapper width
$global-width: 900px;
$global-one-column-width: 650px;

// Global max width
$global-max-width: 650px;


// Global Spacing
$global-padding-left: 20px;
$global-padding-right: 20px;
$global-margin-left: 20px;
$global-margin-right: 20px;
$global-spacing: 20px;

$cms-content-spacing-small:12px;
$cms-content-spacing-regular:25px;
$cms-content-spacing-large:50px;
$cms-content-spacing-x-large:100px;



// Standardise some UI treatments.
$global-radius: 0px !default;
$global-transition: all 200ms ease-in-out !default;
$global-colors : () !default;

// Global Colors - theme colors
$global-colors : (
  grey :#D9D8D8,
  dark-grey:#585858,
  light-black:rgba(51, 51, 51, 1),
  light-black-hover:rgba(51, 51, 51, .85),
  white: #ffffff,
  dark-white:#F3F3F3,
  blue-green:#00A99D,
  lime-green:#A0C13B,
  lime-green-hover:#b3cd62,
  pink:#A61F8F
);
// Global anchors / links color
$global-anchor-color : map-get($global-colors, primary-blue);

// Global thematic break color;
$thematic-break-color: #D9D8D8;
$separator-color: #D9D8D8;
// custom border radius
$global-border-radius: 3px;





