/* 
  value - weight names

  100 - Thin (Hairline)
  200 - Extra Light (Ultra Light)
  300 - Light
  400 - Normal , Book, Regular
  500 - Medium
  600 - Semi Bold (Demi Bold)
  700 - Bold
  800 - Extra Bold (Ultra Bold)
  900 - Black (Heavy)

  font-family: 'Noto Serif', serif;
  font-family: 'Montserrat', sans-serif;

*/


@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);

$global-font-primary : 'PT Sans', sans-serif;
$global-font-primary-secondary : 'Lato', sans-serif;

$font-weight-extra-bold : 900;
$font-weight-bold : 700;
$font-weight-medium: 600;
$font-weight-regular: 400;
$font-weight-regular-light: 300;
$font-weight-thin: 100;

$subtitle-font-size: 2rem;
$subtitle-line-height: 28px;

$body-text-font-size: 1.6rem;
$body-text-line-height: 22px;

$extra-letter-spacing: 2px;