<nav class="c-main-nav" aria-label="Main navigation for desktop">
  <h2 class="u-hidden-visually">Main navigation for desktop</h2>
  <ul class="o-list-bare u-margin-bottom-none c-main-nav__wrapper js-nav-system">
    {% for menuitem in menu %}
      {% if 'current-menu-item' in menuitem.classes %}
        <li class="o-list-bare__item c-main-nav__primary js-nav-system__item current-menu-item">
      {% elseif 'current-page-ancestor' in menuitem.classes %}
        <li class="o-list-bare__item c-main-nav__primary js-nav-system__item current-menu-item">
      {% else %}
        <li class="o-list-bare__item c-main-nav__primary js-nav-system__item">
      {% endif %}
            <a class="c-main-nav__link c-main-nav__link--primary js-nav-system__link" href="{{menuitem.link}}">{{ menuitem.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>