<nav class="c-main-nav" aria-label="Main navigation for mobile">
  <h2 class="u-hidden-visually">Main navigation for mobile</h2>
  <ul class="o-list-bare u-margin-bottom-none c-main-nav__wrapper js-nav-system">
    {% for menuitem in menu %}
      <li class="o-list-bare__item c-main-nav__primary u-padding-vertical-tiny u-padding-vertical-none@navfull js-nav-system__item">
        <a class="c-main-nav__link c-main-nav__link--primary js-nav-system__link" href="{{menuitem.link}}">{{ menuitem.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
