<script>
    var globalNewsData = {{ news_block.allnews }};
</script>
 {# <div class="c-news-results-filters">
    <p aria-label="filter news by following filters">Filter by</p>
    <ul class="o-list-bare c-search-results-filters__items" aria-labelledby="News filters">
        <li class="o-list-bare__item c-search-results-filters__item">
            <input name="All News" type="checkbox" value="All" id="c-filter-all" class="c-button c-button--filter">
            <label for="c-filter-all"><span><span>All</span></span></label>
        </li>
        {% for cat in news_block.list_categories|keys %}
        <li class="o-list-bare__item c-search-results-filters__item">
            <input name="{{cat}}" type="checkbox" value="{{cat}}" id="c-filter-{{cat|replace({' ': ''})}}" class="c-button c-button--filter">
            <label for="c-filter-{{cat|replace({' ': ''})}}">
                <span>
                    <span>{{cat}}</span>
                </span>
            </label>
        </li>
        {% endfor %}
    </ul>
</div>  #}
<div class="c-news-results-list-wrapper c-news-list">
    <div class="o-layout o-layout--flush
        u-padding-top-large c-news-list__items"> 
    </div>
</div>