<section class="u-bg-dark-white">
    <div class="[ o-wrapper o-section o-section--centered ] 
        [ u-padding-vertical-xlarge@md ] [ u-padding-vertical-normal@xs ] ]">
      <div class="o-layout o-layout--flush" >
        <div class="o-layout__item">
            <div class="c-news-carousel-section">
                <div class="c-news-carousel__intro">
                    <h2>What's happening around me?</h2>
                    <p>Read our media releases and get the latest news from our community</p>
                </div>
                <div class="u-margin-top-normal@xs u-margin-top-large@md">
                    {# Carousel Items #}
                    <div class="c-news-carousel-wrapper">
                        <div class="o-layout o-layout--flush c-news-carousel__items">
                            {% for item in news_item.allnews %}
                                {% include '@root/_includes/components/news-items/news-card.twig' with { item : item } %}
                            {% endfor %}
                        </div>
                        <div class="c-news-carousel__button u-margin-vertical-normal@xs">
                            <a href="/news/" class="c-button c-button--secondary-button">Read more news</a>  
                        </div>    
                    </div>
                </div> 
            </div>
        </div>
      </div>
    </div>
</section>