<section>
    <div class="[ o-wrapper o-section o-section--centered ] 
    [ u-padding-top@xs ] [ u-padding-vertical-large@lg ] 
    [ u-padding-vertical-large@navfull ]">
      <div class="o-layout o-layout--flush" >
        <div class="o-layout__item">
            <div class="o-one-column">
                <div class="c-news-detail__image">
                    <div class="u-margin-vertical">
                        <figure>
                            <img
                            src="{{ news_image['url'] }}"
                            alt="{{ news_image['alt'] }}">	
                            <figcaption>{{ news_detail.exc_news_title }}</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="c-news-detail__content">
                    <div class="u-margin-vertical">
                        <div class="c-news-detail__share">
                            <div class="c-news-detail__share-label">Share this on: </div>
                            <div class="c-news-detail__share-plugin">
                                {{ function('do_shortcode', social_share_news.share_shortcode) }}
                            </div>
                        </div>
                        {{ news_body }}

                        {% if news_links %}
                            <hr>
                            {% for link in news_links %}
                                <div class="u-margin-vertical-large">
                                    <a class="c-external-link" href="{{ link.link }}" target="_blank">{{ link.title }}</a>
                                </div>
                            {% endfor %}                 
                        {% endif %}

                        {% if news_attachments %}
                            <hr>
                            {% for att in news_attachments %}
                                <div class="u-margin-vertical-large">
                                    <a href="{{ att.link.url }}" target="_blank">{{ att.title }}</a> {{ att.size }}
                                </div>
                            {% endfor %}                  
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>
