<section>
    <div class="[ o-wrapper o-section o-section--centered ] 
        [ u-padding-vertical-large@xs ]">
        {% include '@root/_includes/components/news-list.twig' %}
    </div>
</section>