/*
  Generate utility classes for text colors
*/

@each $color-name, $color-code in $global-colors {
  .u-text-#{$color-name} {
    color : $color-code !important;
  }
}

.u-text-underline{
  text-decoration: underline;
}