// CUSTOM SETTINGS 
@import "settings/_settings.config";
@import "settings/_settings.config.fonts.scss";

@import "node_modules/inuitcss/settings/settings.core";

// CUSTOM SETTINGS
@import "settings/_settings.global";


// TOOLS
@import "node_modules/inuitcss/tools/tools.font-size";
@import "node_modules/inuitcss/tools/tools.clearfix";
@import "node_modules/inuitcss/tools/tools.hidden";
@import "tools/_tools.aliases";
@import "tools/_tools.heightShowHide";

// CUSTOM TOOLS
// functions to return value of a key from sass map.
@import "tools/_tools.get-value";


/*
  CUSTOM BREAKPOINTS
*/
$mq-breakpoints: (
  xs:  320px,
  sm:  480px,
  lm:  600px,
  md: 768px,
  ml: 992px,
  lg: 1024px,
  xl: 1200px,
  navfull: 1000px,
  footer: 1040px
);
@import "node_modules/sass-mq/mq";


// GENERIC
@import "node_modules/inuitcss/generic/generic.box-sizing";
@import "node_modules/inuitcss/generic/generic.normalize";
@import "node_modules/inuitcss/generic/generic.reset";
@import "node_modules/inuitcss/generic/generic.shared";
@import "generic/generic.form-elements";



// ELEMENTS
@import "node_modules/inuitcss/elements/elements.page";
@import "node_modules/inuitcss/elements/elements.headings";
@import "node_modules/inuitcss/elements/elements.images";
//@import "node_modules/inuitcss/elements/elements.tables";

// CUSTOM ELEMENTS
@import "elements/_elements.body"; // custom
@import "elements/_element.anchors"; // custom
@import "elements/_element.typography"; // custom



// OBJECTS
//
// Uncomment and add to this section as necessary.
@import "node_modules/inuitcss/objects/objects.wrapper";
@import "node_modules/inuitcss/objects/objects.layout";
//@import "node_modules/inuitcss/objects/objects.media";
@import "node_modules/inuitcss/objects/objects.flag";
@import "node_modules/inuitcss/objects/objects.list-bare";
@import "node_modules/inuitcss/objects/objects.list-inline";
//@import "node_modules/inuitcss/objects/objects.box";
//@import "node_modules/inuitcss/objects/objects.block";
@import "node_modules/inuitcss/objects/objects.ratio";
//@import "node_modules/inuitcss/objects/objects.crop";
//@import "node_modules/inuitcss/objects/objects.table";
//@import "node_modules/inuitcss/objects/objects.pack";

// CUSTOM INCLUDES ( PLUGINS / EXTERNAL CSS)
@import "includes/hamburgers";
@import "includes/slick";
@import "includes/overlayScrollbars";


// CUSTOM OBJECTS
@import 'objects/objects.section';
@import 'objects/objects.main-content-area';



// COMPONENTS CUSTOM
//
// Build and include your project’s UI components here.
@import 'elements/_elements.headings';

@import 'components/components.buttons';
@import 'components/components.header';
@import 'components/components.main-nav';
@import 'components/components.mobile-nav';
@import 'components/components.dialog';
@import 'components/component.banner';
@import 'components/component.form';
@import 'components/components.footer';
@import 'components/components.footer-contact';
@import 'components/components.accordion';
@import 'components/component.breadcrumb';
@import 'components/components.general-contents';


// Generic components
@import 'components/components.generic-components';
@import 'components/components.generic-block';


// return points
@import 'components/components.return-point-card';
@import 'components/components.return-point-detail';
@import 'components/components.return-point-results';

// news
@import 'components/components.news-list';
// news card
@import 'components/components.news-card';
// news detail
@import 'components/components.news-detail';

@import 'components/components.eligibility-tool';

// custom list
@import 'components/components.list';
// UTILITIES
@import "node_modules/inuitcss/utilities/utilities.clearfix";

// Be aware that enabling offsets produces a large chunk of classes which might
// bloat your CSS, depending of the amount of breakpoints you defined.

// Only set this to `true` if you are absolutely sure about what you are doing.

$inuit-offsets: true;

$inuit-fractions: 1 2 3 4 5 6 7 8 9 10 12; 
@import "node_modules/inuitcss/utilities/utilities.widths";
@import "node_modules/inuitcss/utilities/utilities.headings";
// @import "node_modules/inuitcss/utilities/utilities.spacings";
// overwrite spacing
@import "utilities/utilities.spacings";
$inuit-responsive-spacing-directions: $inuit-spacing-directions;
$inuit-responsive-spacing-properties: $inuit-spacing-properties;
$inuit-responsive-spacing-sizes: $inuit-spacing-sizes;
 

@import "node_modules/inuitcss/utilities/utilities.responsive-spacings";
@import "node_modules/inuitcss/utilities/utilities.print";
@import "node_modules/inuitcss/utilities/utilities.hide";

@import "utilities/utilities.text"; // custom
@import "utilities/utilities.bg-colors"; // custom
@import "utilities/utilities.hide"; // custom


// secial condition
@import 'components/component.header-mobile-buttons';
