<!-- @accordion-container -->
<div class="[ o-wrapper o-section o-section--centered ] 
[ u-padding-vertical-normal@xs ] [ u-padding-vertical-large@md ]">
    <div class="u-padding-vertical-small">
        {% for key, items in accordion_list %}
            {% if items['accordion_header'] %}        
                <h3>{{ items['accordion_header'] }}</h3> {# GET THE POST TITLE AS HEADER #}
            {% endif %}

            <ul class="o-list-bare js-accordion c-accordion" id="accordion-{{accordion_index}}-{{loop.index}}"
                data-accordion-multiselectable="none" 
                data-accordion-prefix-classes="c-animated-accordion">
                {% for title, content in items if title != 'accordion_header' %} {# REMOVE THE HEADER FROM PRINTING AS ACCORDION #}
                    <li class="o-list-bare__item c-accordion__item js-accordion__panel">
                        {# Title #}
                        <span class="js-accordion__header"> 
                            <span class="c-accordion__title">
                                {{ title }}
                            </span>
                        </span>
                        {# Content #}
                        <div class="c-accordion__content [ u-padding-vertical ] ">
                            {{ content }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            
        {% endfor %}            
    </div>
</div>