<div class="breadcrumb">
    <div class="o-wrapper">
        <ul class="o-list-bare">
            <li class="o-list-bare__item o-breadcrumb-links__item">
                <a href="#" onclick="window.history.go(-1); return false;" class="o-breadcrumb-links__link">
                    See All Return Points
                </a>
            </li>
            <li class="o-list-bare__item o-breadcrumb-links__item">
                <a href="https://www.google.com/maps/search/?api=1&query={{ cp_address|replace({'&': 'and', 'Cn.': 'Cnr'}) }}, {{ cp_city}} {{ cp_state }} {{ cp_postcode }} " target="_blank" class="o-breadcrumb-links__link">
                    Get Directions
                </a>
            </li>
        </ul>
    </div>
</div>