{% for key, details in static_content %}
    <div class="[ o-wrapper o-section o-section--centered ] 
    [ u-padding-vertical-normal@xs ] [ u-padding-vertical-large@md ]">
        {{ details }}
    </div>
{% endfor %}