<!-- @accordion-container -->
{% if accordion_index > 0 %}
<div class="[ o-wrapper o-section o-section--centered ]
[ u-padding-bottom-normal@xs ] [ u-padding-bottom-large@md ]">
{% else %}
<div class="[ o-wrapper o-section o-section--centered ] 
[ u-padding-vertical-normal@xs ] [ u-padding-vertical-large@md ]">
{% endif %}
    <div class="u-padding-vertical-small c-custom-accordion__wrapper">        
        {% set noheaderclass = '' %}
        {% if accordion_list['header_type'] == 'express' %}
            <div class="c-custom-accordion__intro">
                <div class="c-custom-accordion__section-title c-custom-accordion__return-point-type">
                    <img src="{{ site.theme.link }}/static/images/card-icons/point.png" alt="">
                    <h3>Express Return Points</h3>
                </div>
                <div class="c-custom-accordion__section-copy">{{ accordion_list['header'] }}</div>
            </div>
        {% elseif accordion_list['header_type'] == 'bulk' %}
            <div class="c-custom-accordion__intro">
                <div class="c-custom-accordion__section-title c-custom-accordion__return-point-type">
                    <img src="{{ site.theme.link }}/static/images/card-icons/point.png" alt="">
                    <h3>Bulk Depots</h3>
                </div>
                <div class="c-custom-accordion__section-copy">{{ accordion_list['header'] }}</div>
            </div>
        {% elseif accordion_list['header_type'] == 'general' %}
            <div class="c-custom-accordion__intro">
                <div class="c-custom-accordion__section-title c-custom-accordion__normal">
                    {{ accordion_list['header'] }}
                </div>
            </div>
        {% else %}
            {% set noheaderclass = 'c-no-accordion-header' %}
        {% endif %}        
        
        {% for key, items in accordion_list if key != 'header_type' and key != 'header' %}
            <ul class="o-list-bare js-accordion c-accordion {{ noheaderclass }}"
            data-accordion-multiselectable="none" 
            data-accordion-prefix-classes="c-animated-accordion" id="accordion-{{accordion_index}}-{{loop.index}}">
                {% for title, content in items if title != 'accordion_header' %} {# REMOVE THE HEADER FROM PRINTING AS ACCORDION #}
                    <li class="o-list-bare__item c-accordion__item js-accordion__panel">
                        {# Title #}
                        <span class="js-accordion__header"> 
                            <span class="c-accordion__title">
                                {{ title }}
                            </span>
                        </span>
                        {# Content #}
                        <div class="c-accordion__content [ u-padding-vertical ]">
                            {{ content }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>