<section class="u-bg-dark-white">
    <div class="[ o-wrapper o-section o-section--centered ] 
        [ u-padding-vertical-xlarge@md ] [ u-padding-vertical-normal@xs ] ]">
      <div class="o-layout o-layout--flush" >
        <div class="o-layout__item">
            <div class="c-eligibility-tool-wrapper">
                <div class="c-eligibility-tool__intro">
                    <h2>Check which containers are eligible</h2>
                    <p>Eligible containers are ones that are commonly found in the litter stream, 
                    including most glass, PET, HDPE, aluminium, steel or liquid paperboard (cartons) 
                    between 150mL and 3L in size. All containers that can be recognised as an 
                    eligible container will be accepted.</p>
                </div>
                <div class="c-container-returned-carousel u-margin-top-normal@xs u-margin-top-large@md">
                    {# Carousel Items #}
                    <div class="c-container-returned-carousel-wrapper">
                        <div class="o-layout o-layout--flush container-slick-carousel__container">
                            <div class="o-layout__item">
                                <div class="c-container-carousel__item">
                                    <div class="c-container-carousel__right">
                                        <div class="c-container-carousel--image">
                                            <img src="{{ site.theme.link }}/static/images/eligibility-tool/milk.png" alt="Large milk containers are not refundable">
                                        </div>
                                    </div>
                                    <div class="c-container-carousel__left">
                                        <div class="c-container-carousel--type__not-refunded">
                                            NOT REFUNDABLE:
                                        </div>
                                        <div class="c-container-carousel--type__text">
                                            <h2>Plain milk <br />containers</h2>
                                        </div>
                                        <div class="c-container-carousel--type__copy">
                                            These should go in household recycling. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="o-layout__item">
                                <div class="c-container-carousel__item">
                                    <div class="c-container-carousel__right">
                                        <div class="c-container-carousel--image">
                                            <img src="{{ site.theme.link }}/static/images/eligibility-tool/wine.png" alt="glass wine bottle is not refundable">
                                        </div>
                                    </div>
                                    <div class="c-container-carousel__left">
                                        <div class="c-container-carousel--type__not-refunded">
                                            NOT REFUNDABLE:
                                        </div>
                                        <div class="c-container-carousel--type__text">
                                            <h2>Glass wine<br />bottles</h2>
                                        </div>
                                        <div class="c-container-carousel--type__copy">
                                            These should go in household recycling. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="o-layout__item">
                                <div class="c-container-carousel__item">
                                    <div class="c-container-carousel__right">
                                        <div class="c-container-carousel--image">
                                            <img src="{{ site.theme.link }}/static/images/eligibility-tool/spirit.png" alt="glass spirit bottles are not refundable">
                                        </div>
                                    </div>
                                    <div class="c-container-carousel__left">
                                        <div class="c-container-carousel--type__not-refunded">
                                            NOT REFUNDABLE:
                                        </div>
                                        <div class="c-container-carousel--type__text">
                                            <h2>Glass spirit<br />bottles</h2>
                                        </div>
                                        <div class="c-container-carousel--type__copy">
                                            These should go in household recycling. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="o-layout__item">
                                <div class="c-container-carousel__item">
                                    <div class="c-container-carousel__right">
                                        <div class="c-container-carousel--image">
                                            <img src="{{ site.theme.link }}/static/images/eligibility-tool/juice.png" alt="Pure Juice bottles over 1 litre are not refundable">
                                        </div>
                                    </div>
                                    <div class="c-container-carousel__left">
                                        <div class="c-container-carousel--type__not-refunded">
                                            NOT REFUNDABLE:
                                        </div>
                                        <div class="c-container-carousel--type__text">
                                            <h2>Pure Juice bottles <br />over 1 litre</h2>
                                        </div>
                                        <div class="c-container-carousel--type__copy">
                                            Pure juice (at least 90% fruit/vegetable juice) bottles should go in household recycling.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="o-layout__item">
                                <div class="c-container-carousel__item">
                                    <div class="c-container-carousel__right">
                                        <div class="c-container-carousel--image">
                                            <img src="{{ site.theme.link }}/static/images/eligibility-tool/cordial.png" alt="Cordial bottles are not refundable">
                                        </div>
                                    </div>
                                    <div class="c-container-carousel__left">
                                        <div class="c-container-carousel--type__not-refunded">
                                            NOT REFUNDABLE:
                                        </div>
                                        <div class="c-container-carousel--type__text">
                                            <h2>Cordial <br />bottles</h2>
                                        </div>
                                        <div class="c-container-carousel--type__copy">
                                            These should go in household recycling. 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="o-layout__item">
                                <div class="c-container-carousel__item">
                                    <div class="c-container-carousel__right">
                                        <div class="c-container-carousel--image">
                                            <img src="{{ site.theme.link }}/static/images/eligibility-tool/refundable.jpg" alt="Most drinks containers between 150ml and three litres are refundable.">
                                        </div>
                                    </div>
                                    <div class="c-container-carousel__left">
                                        <div class="c-container-carousel--type__go-to-go">
                                            GOOD TO GO!
                                        </div>
                                        <div class="c-container-carousel--type__text">
                                            <h2>Most drink <br />bottles & cans</h2>
                                        </div>
                                        <div class="c-container-carousel--type__copy">
                                            They just need to be in reasonable condition.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Dots #}
                    <div class="c-container-returned-carousel__dots">
                    </div>

                    {# Carousel Nav #}
                    <div class="c-container-returned-carousel__arrows js-carousel__navs">
                        <button class="c-button c-button--secondary-button c-button--left-arrow" aria-label="click this arrow to display previous card">
                            click this arrow to display previous card
                        </button>
                        <button class="c-button c-button--secondary-button c-button--right-arrow" aria-label="click this arrow to display next card">
                            click this arrow to display next card
                        </button>
                    </div>
                </div>              
            </div>
        </div>
      </div>
    </div>
</section>