{# <div class="c-tabs-container">
    <ul class="o-list-bare c-tabs-menu">
        <li class="o-list-bare__item c-tabs-menu__item">
            <a href="#tab-1" class="c-tabs-menu__link">Tab 1</a>
        </li>
        <li class="o-list-bare__item c-tabs-menu__item">
            <a href="#tab-2" class="c-tabs-menu__link">Tab 2</a>
        </li>
        <li class="o-list-bare__item c-tabs-menu__item">
            <a href="#tab-3" class="c-tabs-menu__link">Tab 3</a>
        </li>
    </ul>
    <div class="c-tab-contents-container">
        <div id="tab-1" class="c-tab-content">
            <p>Tab one Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            ingilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor</p>
        </div>
        <div id="tab-2" class="c-tab-content">
            <p>Tab 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            ingilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor</p>
        </div>
        <div id="tab-3" class="c-tab-content">
            <p>Tab 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            ingilla enim, sit amet suscipit dolor dictum in. Maecenas porttitor</p>
        </div>
    </div>
</div> #}