<!-- @ Return Point detail Banner -->
<!-- Banner -->
<section class="c-banner c-news-detail-banner" aria-hidden="true">
    <div class="breadcrumb">
      <div class="[ o-wrapper o-section o-section--centered ]">
        <ul class="o-list-bare">
            <li class="o-list-bare__item o-breadcrumb-links__item">
                <a href="#" onclick="window.history.go(-1); return false;" class="o-breadcrumb-links__link">
                    Back to News
                </a>
            </li>
        </ul>
      </div>
    </div>
    <div class="o-layout o-layout--flush c-inner-banner__news-details u-padding-vertical-xlarge@md u-padding-vertical-normal@xs" >
      <div class="[ o-wrapper o-section o-section--centered ]">
          <div class="c-news__info u-margin-bottom">
              <div class="c-news__type u-1/2@xs">
                  <span>{{ news_detail.exc_news_type }}</span>
              </div>
              {% if(news_detail.exc_news_publish_date) %}
                    <div class="c-news__publish-date u-1/2@xs">
                        <span>{{ news_published_date|upper }}</span>
                    </div>
              {% endif %}
          </div>
          <h1>{{ news_detail.exc_news_title }}</h1>
      </div>
    </div>
</section>
<!--// @ Home Banner -->