<!-- @ One column banner -->
<section class="c-banner c-one-column-banner">
    {% if header_image is not empty %}
        <div class="[ o-section o-section--centered ] c-banner-image__wrapper">
            <div class="o-layout o-layout--flush" >
                <div class="o-layout__item">
                    <div class="c-banner-image__inner-wrapper" style="background-image:url({{ header_image }})" title="{{ header_title }}">
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="c-banner-text__wrapper">
        <div class="[ o-wrapper o-section o-section--centered ]">
            <div class="o-layout o-layout--flush" >
                <div class="o-layout__item">
                    <div class="c-banner-text__inner-wrapper">
                        <div class="c-banner__title">
                            <h1>{{ header_title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// @ One column banner -->