<!-- @ Return Point detail Banner -->

<!-- breadcrumb -->
{% include '@root/_includes/components/common/breadcrumb.twig' %}
<!-- Banner -->
<section class="c-banner c-inner-banner__map-wrapper" aria-hidden="true">
  <div class="[ o-wrapper o-section o-section--centered ]">
      <div class="o-layout o-layout--flush c-inner-banner__map" >
          <div class="o-layout__item">
            <div id="return-point-map"></div>
            <input id="return-point-lat" type="hidden" value="{{cp_latitude}}">
            <input id="return-point-lng" type="hidden" value="{{cp_longitude}}">
            <input id="return-point-icon" type="hidden" value="{{ site.theme.link }}/static/images/card-icons/{{ cp_collection_point_type == 'Express Returns' ? 'icon-map-express-active' : 'icon-map-bd-active' }}-small.png">
            <script>
              var lat = parseFloat(document.getElementById('return-point-lat').value);
              var lng = parseFloat(document.getElementById('return-point-lng').value);
              var iconUrl = document.getElementById('return-point-icon').value;

              // Create map
              var map = new google.maps.Map(document.getElementById('return-point-map'), {
                zoom: 15,
                streetViewControl: false,
                fullscreenControl: false,
                mapTypeControl: false,
                center: {lat: lat, lng: lng},

                //Hide point of interest and businesses
                styles: [
                  {
                    "featureType": "poi",
                    "elementType": "labels",
                    "stylers": [{"visibility": "off"}]
                  },
                  {
                    featureType: 'poi.business',
                    stylers: [{visibility: 'off'}]
                  },
                ],
              });

              // Create icon
              var marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                icon: {
                  url: iconUrl,
                  // This marker is 55 pixels wide by 84 pixels high.
                  scaledSize: new google.maps.Size(40, 62),
                },
                map: map
              });
            </script>
          </div>
      </div>
  </div>
</section>
<!--// @ Home Banner -->