<!-- @ Two column banner -->
<section class="c-banner c-two-column-banner">
    {% if header_image is not empty %}
        <div class="[ o-section o-section--centered ] c-banner-image__wrapper">
            <div class="o-layout o-layout--flush" >
                <div class="o-layout__item">
                    <div class="c-banner-image__inner-wrapper" style="background-image:url({{ header_image }})">
                        <!-- -->
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="c-banner-text__wrapper">
        <div class="[ o-wrapper o-section o-section--centered ]">
            <div class="o-layout o-layout--flush" >
                <div class="o-layout__item [ u-1/2@md ]">
                    <div class="c-banner-text__inner-wrapper">
                        <div class="c-banner__title">
                            <h1>{{ header_title }}</h1>
                            {# <h1>Contact us</h1> #}
                        </div>
                    </div>
                </div>
                <div class="o-layout__item [ u-1/2@md ]">
                    <div class="c-banner-text__inner-wrapper">
                        <div class="c-banner__copy">
                            {{ header_subtitle }}
                            {# <p>If you have any questions about the ACT CDS, give us a call or 
                                complete the form below to send us an email.</p> #}
                            {# <p><button class="c-button c-button--primary-button">Learn more</button></p>
                            <p><a class="c-button c-button--primary-button">Learn more</a></p> #}

                            {# Contact us banner #}
                            {# {% include '@root/_sections/footer-contact.twig' %} #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// @ Two column banner -->