<div class="c-return-point-detail__intro">
    <div class="c-return-point-detail__intro-top">
        <h2>About this return point</h2>
        <ul class="o-list-bare c-return-point-detail_feature-items u-margin-bottom-none">
            {% if category_definers|length > 0 %}
                {% for key, items in category_definers %}
                    <li class="o-list-bare__item c-return-point-detail_feature-item" id="cat_def_{{ key }}">
                        <span class="c-return-point-detail_feature-item-icon">
                        <img src="{{ items['post_image'] }}" alt="{{ items['post_title'] }}"></span>
                        <span class="c-return-point-detail_feature-item-copy">{{ items['post_excerpt'] }}</span>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        {#<ul class="o-list-bare c-return-point-detail_feature-items u-margin-bottom-none">#}
            {#<li class="o-list-bare__item c-return-point-detail_feature-item">#}
                {#<span class="c-return-point-detail_feature-item-icon">#}
                    {#<img src="{{ site.theme.link }}/static/images/card-icons/house.png" alt="Is a charity store location"></span>#}
                {#<span class="c-return-point-detail_feature-item-copy">Is a charity store location</span>#}
            {#</li>#}
            {#<li class="o-list-bare__item c-return-point-detail_feature-item">#}
                {#<span class="c-return-point-detail_feature-item-icon">#}
                    {#<img src="{{ site.theme.link }}/static/images/card-icons/bottle.png" alt="Bag, drop and go"></span>#}
                {#<span class="c-return-point-detail_feature-item-copy">#}
                    {#Bag, drop and go</span>#}
            {#</li>#}
            {#<li class="o-list-bare__item c-return-point-detail_feature-item">#}
                {#<span class="c-return-point-detail_feature-item-icon">#}
                    {#<img src="{{ site.theme.link }}/static/images/card-icons/coins.png" alt="Offers electronic refunds or donation"></span>#}
                {#<span class="c-return-point-detail_feature-item-copy">#}
                    {#Offers electronic refunds or donation</span>#}
            {#</li>#}
        {#</ul>#}
    </div>
    <div class="c-return-point-detail__intro-bottom">
        <div class="c-return-point-detail__create-account">
            <h2>Create a <br />Return-It account</h2>
            <img src="{{ site.theme.link }}/static/images/return-it-logo.png" alt="Create a Return-It account">
            <p>Create a Return-It account and link your bank details to receive electronic payments.</p>
            <a href="https://express.returnit.com.au/account/register/" class="c-button c-button--primary-button" target="_blank">Create a Return-It Account</a>
        </div>
    </div>
    {# <div class="c-return-point-detail__return-it-logo">
        <img src="{{ site.theme.link }}/static/images/return-it-logo.png" alt="Return it">
    </div> #}
</div>
