<div class="[ o-wrapper o-section o-section--centered ] 
    [ u-margin-vertical-normal@xs ] [ u-margin-vertical-large@md ]">
    <div class="o-layout o-layout--flush">
        <div class="o-layout__item u-1/2@md">
            <div class="c-return-point-detail--left-content">
                <div class="c-return-point-detail--type-icon {{ cp_collection_point_type == 'EXPRESS' ? 'express' : '' }}"
                     aria-label="Return point type">
                    <img src="{{ site.theme.link }}/static/images/card-icons/{{ cp_collection_point_type == 'EXPRESS' ? 'icon-express-colored.png' : 'icon-bd-colored.png' }}"
                         alt="">
                    {{ cp_collection_point_type }}
                </div>
                <h1>{{ cp_title }}</h1>
                <div class="c-return-point-detail--address">{{ cp_address }}</div>
                <div class="c-return-point-detail--open-map">
                    {# <a href="https://www.google.com/maps/search/?api=1&query={{ cp_latitude }}, {{ cp_longitude }}" target="_blank" class="c-button c-button--icon c-button--secondary-button">
                    <img src="{{ site.theme.link }}/static/images/icons/icon-map.svg" alt="Open this return point on map">
                        Open map</a> #}
                    <a href="https://www.google.com/maps/search/?api=1&query={{ cp_address|replace({'&': 'and', 'Cn.': 'Cnr'}) }}, {{ cp_city }} {{ cp_state }} {{ cp_postcode }} "
                       target="_blank" class="c-button c-button--icon c-button--secondary-button"><img
                                src="{{ site.theme.link }}/static/images/icons/icon-map.svg"
                                alt="Open this return point on map">Get Directions</a>
                </div>
                <div class="c-return-point-detail--opening-hours">
                    {% if time_table|length > 0 %}
                        <h2>Opening hours</h2>
                        <table>
                            <tbody>
                            {% for key,items in time_table %}
                                <tr>
                                    {% for day, timings in items %}
                                        <td>{{ timings }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    {% if ph_notes != '' or infonotes != '' %}
                        <div class="c-return-point-detail--opening-hours__note">
                            <p><strong>Note:</strong>{{ ph_notes }} {{ infonotes }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="o-layout__item u-1/2@md">
            <div class="c-return-point-detail--intro-section static-sidebar c-return-point-detail--left-content">
                {% if cp_collection_point_type|lower == 'express' %}
                    {% include '@root/_includes/components/return-points-items/return-point-detail-intro-express.twig' %}
                {% else %}
                    {% include '@root/_includes/components/return-points-items/return-point-detail-intro-bd.twig' %}
                {% endif %}
            </div>
        </div>

    </div>
</div>