{% for key, details in list_return_points %}
    <div class="c-return-point-card__item">
        <a href="{{details.return_point_url}}" class="c-return-point-card--link">
            <div class="c-return-point-card--type__copy" aria-label="Return point type">
                <img src="{{ site.theme.link }}/static/images/card-icons/point.png" alt="">
                {{ details.return_point_type }}
            </div>
            <div class="c-return-point-card--name__suburb">
                <h4>{{ details.title }}</h4>
            </div>
            <div class="c-return-point-card--address">{{ details.address }}</div>
        </a>
    </div>
{% endfor %}