{# {% include '@root/_includes/head.twig'  with { head: block('head') } %} #}

{% block body %}
	{% block header %}
		{% include '@root/_sections/mobile-nav.twig' %}
		{% include '@root/_sections/header.twig' %}
  	{% endblock %}

	{% block content %}
	{% endblock %}
{% endblock %}

{% include '@root/_sections/footer.twig' %}

{# {% include '@root/_includes/foot.twig' with { foot: block('foot') } %} #}