{% extends "base.twig" %}

{% block content %}
    <div class="c-banner-wrapper c-home-banner">
        {% include '@root/_sections/banners/one-column-banner.twig' with { header_title : post.title } %}
    </div>

    <section class="c-content-block-wrapper">
        <div class="[ o-wrapper o-section o-section--centered ]
    [ u-padding-vertical-normal@xs ] [ u-padding-vertical-xlarge@md ]">
            <div class="content-wrapper">
                <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
                    <section class="article-content">
                        <div class="article-body">
                            {{post.content}}
                        </div>
                    </section>
                </article>
            </div><!-- /content-wrapper -->
        </div>
    </section>
{% endblock %}