{% block content %}
	<div class="c-banner-wrapper c-home-banner">
		{% include '@root/_sections/banners/one-column-banner.twig' with { header_title : post.title } %}
	</div>
	<section class="c-content-block-wrapper">
    	<div class="[ o-wrapper o-section o-section--centered ] 
    [ u-padding-vertical-normal@xs ] [ u-padding-vertical-xlarge@md ]">
			<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
				{% block content %}
					<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
					<p>{{post.preview}}</p>
					{% if post.get_thumbnail %}
						<img src="{{post.thumbnail.src}}" />
					{% endif %}
				{% endblock %}
			</article>
		</div>
	</section>
{% endblock %}