{# Fundraising Page #}

{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-contact-us-banner">
  {% include '@root/_sections/banners/two-columns-banner.twig' %}
</div>
<main id="main-content" class="c-contact-us-page">
  {% include '@root/_includes/components/forms/contact-us-form.twig' %}
</main>
{% endblock %}