{# Fundraising Page #}

{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-fundraiser-banner">
  {% include '@root/_sections/banners/two-columns-banner.twig' %}
</div>
<main id="main-content" class="c-fundraising-page">
  {% include '@root/_sections/two-columns-multiple-blocks.twig' %}
  {% include '@root/_includes/components/common/components-separator.twig' %}
  {% include '@root/_sections/two-columns-single-block.twig' %}
  {% include '@root/_includes/components/common/accordion.twig' %}
</main>
{% endblock %}