{# Generic Components #}

{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-generic-components-banner">
  {% include '@root/_sections/banners/one-column-banner.twig' %}
</div>
<main id="main-content" class="c-generic-components-page">
    {% include '@root/_sections/generic-components.twig' %}
</main>
{% endblock %}