{# Homepage #}

{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-home-banner">
  {% if header_subtitle is not empty %}
    {% include '@root/_sections/banners/two-columns-banner.twig' %}
  {% else %}
    {% include '@root/_sections/banners/one-column-banner.twig' %}
  {% endif %}
</div>
<main id="main-content" class="c-main-content__wrapper">
  <div class="c-main-content__sections">
    {% if layout|length > 0 %}
      {% for mainkey,blocks in layout %}
        {% for key,val in blocks %} 
          {% if key == 'info_block_key'  %}
            {% include '@root/_sections/info-block.twig' with { info_block : val } %}
          {% elseif key == 'eligibility_carousel_key' %}
            {% include '@root/_includes/components/common/eligibility-tool.twig' %}
          {% elseif key == 'news_list' %}
            {% include '@root/_sections/news/news-list.twig' with { news_block : val } %}
          {% elseif key == 'basic_content_block_key' %}
            {% include '@root/_includes/components/common/content-text.twig' with { content_text : val } %}
          {% elseif key == 'accordions_key' %}
            {% include '@root/_includes/components/common/custom-accordion.twig' with { accordion_list : val, accordion_index : mainkey } %} {# ACCORDION INDEX IS SENT TO ADD A SEPARATE ID FOR EVERY ACCORDION, ADDED EITHER AS A SEPARATE COMPONENT OR ADDED IN THE SAME COMPONENT#}
          {% elseif key == 'two_column_with_image_block_key' %}
            {% include '@root/_sections/two-columns-multiple-blocks.twig' with { two_columns_content_block : val } %}
          {% elseif key == 'component_separator_block_key' %}
            {% include '@root/_includes/components/common/components-separator.twig' %}
          {% elseif key == 'select_pre_built_content_blocks_key' %}
            {% include '@root/_includes/components/common/content-prebuilt-text.twig' with { static_content : val } %} {# ARRAY OF STATIC BLOCKS#}
          {% elseif key == 'news_carousel_key' %}
            {% include '@root/_includes/components/news-carousel.twig' with { news_item: val } %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
    
  </div>
</main>
{% endblock %}