{# Return Point Result Page #}

{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-news-list-banner">
  {% include '@root/_sections/banners/two-columns-banner.twig' %}
</div>
<main id="main-content" class="c-news-list">
  {# Show - Geo location exist #}
  <div class="c-news-list-wrapper">
    {% include '@root/_sections/news/news-list.twig' %}
  </div>
</main>

<script>
  var globalNewsData = {{allnews}};  
</script>

{% endblock %}