{# Generic Components #}
{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-news-detail-banner-wrapper">
  {% include '@root/_sections/banners/news-detail-banner.twig' %}
</div>
<main id="main-content">
    <div class="c-news-detail-wrapper">
        {% include '@root/_sections/news/news-detail-section.twig' %}
    </div>
</main>
{% endblock %}