{# Return Point Result Page #}

{% extends '@root/base.twig' %}

{% block content %}
<main id="main-content" class="c-return-point-result">
  {# Show - Geo location exist #}
  <section class="c-return-point-result-wrapper">
    {% include '@root/_sections/return-points/return-points-list.twig' with { list_return_points : return_points} %}
  </section>
</main>

<script>
    var globalReturnPointsData = {{ return_points|json_encode() }};
</script>

{# ----------------------------------------------------- #}
{# FE working ONLY #}
{# {% set dump = '' %}
{% set dump %}
  {% include '@root/returnpointdata.json' %}
{% endset %}
<script>
  var globalReturnPointsData = {{dump}}.data;
</script> #}
{# ----------------------------------------------------- #}

{% endblock %}