{# Return Point Detail Page #}

{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-return-point-detail-banner">
  {% include '@root/_sections/banners/return-point-banner.twig' %}
</div>
<main id="main-content" class="c-return-point-detail">
    <section class="c-return-point-detail-wrapper">
        {# Return Detail Top Section #}
        <div class="c-return-point-detail--top-wrapper">
            {% include '@root/_includes/components/return-points-items/return-point-detail-leftside.twig'%} 
        </div>
        <div class="c-return-point-detail--bottom-wrapper">
            {% include '@root/_includes/components/common/eligibility-tool.twig' %}
        </div>
    </section>
</main>
{% endblock %}