{# Suppliers Page #}

{% extends '@root/base.twig' %}

{% block content %}
<div class="c-banner-wrapper c-fundraiser-banner">
  {% include '@root/_sections/banners/two-columns-banner.twig' %}
</div>
<main id="main-content" class="c-suppliers-page">
  {% include '@root/_includes/components/forms/suppliers-registration-form.twig' %}
</main>
{% endblock %}