
@mixin heightShow{
    display: block;
    overflow-x: visible;
    opacity: 1;
    transition: visibility 0s ease, max-height .3s ease, opacity .3s ease ;
    max-height: 200em;
    /* magic number for max-height = enough height */
    visibility: visible;
    transition-delay: 0s;
    margin: 0;
    padding: 0;
  }
  
  @mixin heightHide{
    display: block;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition-delay: .3s, 0s, 0s;
    margin: 0;
    padding: 0;
  }

  @mixin arrowIcon{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
  }