$hamburger-types: (squeeze);
$hamburger-layer-color : #fff;
$hamburger-hover-opacity : 1;
$hamburger-padding-x : 0 ;
$hamburger-padding-y : 0 ;
$hamburger-layer-border-radius : 0;
$hamburger-layer-width : $inuit-global-spacing-unit;
$hamburger-layer-height : 3px;
$hamburger-layer-spacing: 5px;                  

@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";

// Custom hamburgers menu style
.hamburger{
    &.c-button{
        padding:0;
        margin-top: 0;
        top: 5px;
    }
}
.hamburger-box{
    width:25px;
}
.hamburger-inner{
    &,
    &:before,
    &:after{
        width:25px;
        background-color: map-get($global-colors, light-black );
    }
    &:before{
        top:-9px
    }
    &:after{
        bottom: -9px;
    }
}
.is-open{
    .hamburger-inner{
        &,
        &:before,
        &:after{
            background-color: map-get($global-colors, light-black );
        }
    }
}
