<div class="c-return-point-result">
    <div class="c-return-point-result--list-view">
        <div class="c-return-point-card__items">
            {# {% include '@root/_includes/components/return-points-items/return-point-card.twig' %} #}
        </div>
    </div>
    <div class="c-return-point-result--map-view">
        <div id="c-results-map"><!-- -->
        </div>
    </div>
</div>