  <script src="{{ site.theme.link }}/static/js/vendors.js"></script>
  <script src="{{ site.theme.link }}/static/js/scripts.js"></script>
  {# <script src="{{ site.theme.link }}/static/js/custom.js"></script> #}
  
  {% if foot  is not empty %}
    {{ foot |raw }}
  {% endif %}
  {{ wp_footer }}

 </body>
</html>