<!doctype html>
<html class="no-js" lang="en">
    <head>
        <!-- Google Tag Manager -->
        {# <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P6RQ7S9');
        </script> #}
        <!-- End Google Tag Manager -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ wp_title ? wp_title : site.name }}</title>
        <meta name="description" content="{{ site.description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="icon" type="image/x-icon" href="{{ theme.path }}/static/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="{{ theme.path }}/static/images/favicon.ico">
        <link rel="icon" type="image/x-icon" href="{{ theme.path }}/static/images/favicon.png">
        <link rel="shortcut icon" type="image/x-icon" href="{{ theme.path }}/static/images/favicon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ theme.path }}/static/css/main.css">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSPnXLbgws2LMxhpYYrHnMav3rcTB73Fc&libraries=places"></script>
        {% if head  is not empty %}
            {{ head |raw }}
        {% endif %}
        {{ wp_head }}
    </head>
    <body class="{{ entry.bodyClass }}">
        <!-- Google Tag Manager (noscript) -->
        {# <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6RQ7S9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> #}
        <!-- End Google Tag Manager (noscript) -->