input[type=text],input[type=email],input[type=password]{
  background: map-get($global-colors, white );
  width: 100%;
    min-height: 50px;
  padding: $inuit-global-spacing-unit-small;
  border: none;
}
input{
  &:focus{
    &::-webkit-input-placeholder{
      color: transparent;
    }
    &::-moz-placeholder{
      color: transparent;
    }
    &:-ms-input-placeholder{
      color: transparent;
    }
    &:-moz-placeholder{
      color: transparent;
    }
  }
}